@import "src/common";

:host {
  display: flex;
  flex-direction: column;
  flex: auto;
}

h4 {
  text-transform: none;
  color: $body;
  font-size: 1.3rem;
  font-weight: 400;
}

p {
  margin-top: 0;
}

.code-editor {
  width: 100%;
  height: 100%;
}

.form-button-bar {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.notification {
  margin: 1rem 0;
  white-space: pre;
}

