@use '@angular/material' as mat;
@import "typography";
@import "theme-colors";
@import "code-formatter-theme";
@import "components";
@import "filters";

$sidenav-width: 240px;
$sidenav-width-collapsed: 58px;
$toolbar-height: 5rem;

.page-content {
  padding: 2rem;
  background-color: var(--component-bg-color);
  min-height: fit-content;
  height: 100%;
  flex-grow: 1;
  line-height: 1.5;
}

.centered-page-block-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-button-row {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.centered-page-block {
  width: 1280px;
  max-width: 80vw;
}

.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 2rem 0;
    font-size: 1.2rem;
  }

  img {
    height: 20rem;
  }

}

.full-width-page-content {
  background-color: $body-bg;
  height: 100%;
}

.mat-mdc-list-base {
  // Remove top paddins so that the list items align with the header bar
  padding-top: 0;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  height: $toolbar-height;
  font-size: 1rem;

  &.mat-logo {
    background-color: $midnight-grey;
    color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  &.mat-primary {
    background-color: $slate-100;
    //box-shadow: 0 2px 5px #dcdcdc;
    color: $dark-grey-3;
    border-bottom: 1px solid rgba($midnight-grey, 0.15);

    &.bottom {
      border-bottom-width: 0;
      border-top: 1px solid rgba($midnight-grey, 0.15);
    }

    span {
      font-size: 1rem;
    }
  }
}

mat-button-toggle {
  mat-pseudo-checkbox {
    display: none !important; // hide the tick from the Material button-toggle
  }
}

::ng-deep .mat-mdc-select-panel {
  min-width: fit-content !important;
}

.info-panel {
  background-color: rgba($blueish, 0.3);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid $blueish;
}


$light-grey-1: mat.get-color-from-palette($vyne-grey-blue-palette, 50);
$light-grey-2: mat.get-color-from-palette($vyne-grey-blue-palette, 100);
$light-grey-3: mat.get-color-from-palette($vyne-grey-blue-palette, 200);

$border-dark: $light-grey-2;
$borer-light: $light-purple-grey-300;
$border-highlight: rgba($vyne-lilac, 0.6);

//background-color: rgba($vyne-lilac, 0.1);

//  color: $vyne-lilac;
//  border: 1px solid rgba($vyne-lilac,0.6);
//  background-color: rgba($vyne-lilac, 0.1);

.error-message-box {
  display: flex;
  background-color: rgba($warning-2, 0.15);
  border: 2px solid rgba($warning-2, 0.8);
  margin: 1rem 0;
  border-radius: 4px;
  color: darken($warning-2, 20%);
  padding: 1rem;
  align-items: center;
  font-size: 0.9rem;

  ul {
    margin: 0.5rem 0;
  }

  img {
    width: 48px;
    margin-right: 1.5rem;
  }

}

.fullscreen {
  position: fixed;
  top: 4rem;
  left: calc(1rem + $sidenav-width);
  width: calc(100% - $sidenav-width - 2rem);
  height: calc(100% - 5rem);
  z-index: 2000;
}

.documentation {
  flex-grow: 1;

  table {
    width: 100%;
  }
}


.page-heading {
  h1 {
    margin-bottom: 0;
    font-weight: 700;
  }

  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: $primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

a:visited,
a:active {
  color: $primary-light;
}
