@import "typography";
@import "tailwind-colors";
button.button-small {
  ::ng-deep {
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }
  font-family: $headings-font;
  font-size: 0.9rem;
  font-weight: 400;

  border-radius: 4px;
  transition: opacity 150ms ease-in-out;

  img {
    width: 1rem;
    margin-right: 0.2rem;
  }

  &.is-disabled {
    opacity: 0.5 !important;
    pointer-events: none;
  }
}

.menu-bar-button {
  margin-left: 0.5rem;

  &:last-child:not(:only-child) {
    margin-left: 1rem;
  }

  &[data-appearance='outline'] {
    background-color: $white;
    border: none;
  }
}

.spacer {
  flex-grow: 1;
}

.button-link {
  display: flex;
  cursor: pointer;
  padding: 4px;

  &:hover {
    border-radius: 0.25rem;
    background: $gray-100;
  }

  &:active {
    background: $white;
  }

  &.is-disabled {
    opacity: 0.5 !important;
    pointer-events: none;
  }

  ::ng-deep > span {
    line-height: 0.75rem;
  }
}

.markdown-body {
  h4 {
    text-transform: none;
  }
}

// Override the default font in prism highlighted stuff - matches the font used
// by monaco
code[class*=language-] {
  font-family: "Droid Sans Mono", "monospace", monospace
}
