// Handy filters to recolor svgs etc

// Calculate target colors here:
//https://codepen.io/sosuke/pen/Pjoqqp


.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.filter-error-light {
  filter: invert(76%) sepia(87%) saturate(2922%) hue-rotate(314deg) brightness(94%) contrast(101%);
}

.filter-error-dark {
  filter: invert(38%) sepia(32%) saturate(5985%) hue-rotate(343deg) brightness(93%) contrast(97%);
}

.filter-warning-dark {
  filter: invert(67%) sepia(70%) saturate(501%) hue-rotate(358deg) brightness(103%) contrast(97%);
}

.filter-warning-light {
  filter:  invert(99%) sepia(24%) saturate(2399%) hue-rotate(331deg) brightness(103%) contrast(99%);
}

.filter-black-ish {
  filter: invert(11%) sepia(3%) saturate(2699%) hue-rotate(160deg) brightness(6%) contrast(86%);
}

.filter-schema-model-color {
  filter: invert(38%) sepia(12%) saturate(5425%) hue-rotate(52deg) brightness(97%) contrast(88%);
}

.filter-schema-type-color {
  filter: invert(42%) sepia(55%) saturate(4834%) hue-rotate(248deg) brightness(102%) contrast(94%);
}

.filter-schema-service-color {
  filter: invert(35%) sepia(63%) saturate(2692%) hue-rotate(178deg) brightness(90%) contrast(98%);
}

.filter-link-color {
  filter: invert(28%) sepia(86%) saturate(1620%) hue-rotate(178deg) brightness(104%) contrast(98%);
}
