@import "typography";

.form-container {
  // MP 6-Dec Why did we have this?  It looks silly on a laptop
  // screen - max-width, in a flex with margin:auto
  // seems to work better.
  //width: 50vw;
  // JL 27/3/24 Unsetting this, be on the lookout for forms that now aren't constrained by the parent they live within
  //max-width: 1200px;
}

.form-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

// Use this when wrapping a tui-input / tui-combo etc,
// in a form, to give padding similar to the mat-form-field
.tui-form-field {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  h3 {
    margin: 0;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .form-item-description-container {
    margin-bottom: 1rem;
    flex: 0.75;

    p:first-child {
      margin-top: 0;
    }
    li {
      line-height: 2;
    }
  }


  .help-text {
    font-size: 0.95rem;
  }

  .form-element {
    flex: 1;
  }

  mat-form-field, app-type-autocomplete, app-schema-member-autocomplete {
    flex-grow: 1;
  }

}

app-description-editor {
  display: block;
  width: 100%;
  max-height: 10rem;
  overflow: auto;
}

.form-buttons {
  margin: 1rem 0;
  display: flex;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.form-button-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  button:only-child {
    margin-left: auto;
  }

  span, mat-progress-bar {
    margin-right: 1rem;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
  mat-progress-bar {
    width: 250px;
  }
}

.form-header-text {
  color: $slate-700;
  font-size: 1.15rem;
  padding-bottom: 1rem;
}
