@import "tailwind-colors";
@import "theme-colors";
@import "fonts";
// Use this file to define things that are can be overridden
// when white-labelling
// For anything else, use common.scss or components.scss

// Do not import this file from other scss files.
// Instead, import common.scss
// This file is linked in angular.json, to allow swapping
// with other themes

:root {
  --logo-width: 135px;

  --header-bg-color: #{$midnight-grey};

  // Lighter active scheme
  --navbar-bg-color: #{$slate-200};
  --navbar-bg-color-rgb: 226, 232, 240; // for use in rgba() css
  --navbar-text-color: #{$gray-700};
  --navbar-text-color-hover: #{$slate-800};
  --navbar-text-color-active: #{$slate-900};
  --navbar-bg-color-hover: #{$slate-300};
  --navbar-bg-color-active: #{$slate-50};
  // Darker active scheme
  /*
  --navbar-bg-color: #{$slate-200};
  --navbar-text-color: #{$gray-700};
  --navbar-text-color-hover: #{$slate-900};
  --navbar-text-color-active: #{$slate-50};
  --navbar-bg-color-hover: #{$gray-300};
  --navbar-bg-color-active: #{$midnight-grey};
  */

  --app-background-color: #{$body-bg};

  --component-bg-color: #{$slate-100};

  --tui-background-accent-1: #{$primary};
  --tui-background-accent-1-hover: #{$primary-light};
  --tui-background-accent-1-pressed: #{$primary-dark};

  --body-font: 'nunito-sans', sans-serif;
  --mono-font: 'jetbrains-mono', monospace;
  --headings-font: 'DM Sans', sans-serif;
}
