@use '@angular/material' as mat;

@import "common";
@import "~node_modules/ag-grid-community/styles/ag-grid.css";
@import "~node_modules/ag-grid-community/styles/ag-theme-alpine.css";

// my other global styles
:root {
  --tui-duration: 150ms;

  --tui-radius-s: 3px;
  --tui-radius-m: 5px;
  --tui-radius-l: 6px;

  --tui-background-accent-1-pressed: #{$primary-dark};

  // After upgrading taiga 2->3, everything was shrunk
  // to 13px.  This seems to fix it.
  --tui-font-text-s: normal 1rem #{$body-font};
  --tui-text-font: var(--body-font);
  --tui-font-text: var(--body-font);
  --tui-font-heading-6: normal 1rem #{$headings-font};
  --tui-font-heading: #{$headings-font};

  [tuiWrapper][data-appearance='textfield']:hover:not(._no-hover) {
  }
  [tuiWrapper][data-appearance='textfield']:hover:not(._no-hover), [tuiWrapper][data-appearance='textfield'][data-state='hover'] {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.06);
    outline: solid 1px #{$slate-300};

  }
}

tui-root {
  --tui-duration: 150ms !important;
}


tui-dialog {
  border-radius: 8px !important;
}
// Patching things that broke after upgrading Taiga-ui 2->3
button {
  // For some reason, link buttons are showing as Arial without this
  font-family: $body-font
}

tui-dropdown-host {
  tui-dropdown {
    // When dropdowns are in dialogs, their z-index is incorrect, so they sit
    // behind the black overlay
    z-index: 10000 !important;
  }
}

tui-error {
  margin-bottom: 1rem;
}

.ag-theme-alpine {
  --ag-font-family: $font-sans;
  --ag-border-color: $border-dark;

  .ag-header-cell-text {
    font-family: $headings-font;
    color: $dark-grey-3;
    font-size: 1rem;
    font-weight: 400;
  }
}

[tuiWrapper][data-appearance='textfield'] {
  box-shadow: none;
}
//tui-wrapper[data-appearance='textfield'] {
//  box-shadow: 0 1px 2px rgb(19 20 22 / 10%);
//}

tui-root {
  // Without this, the app wasn't filling the full height.
  // See : https://github.com/TinkoffCreditSystems/taiga-ui/discussions/1009
  height: 100%;
}

html, body {
  height: 100%;
  font-size: 16px;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: $font-sans;
}

$custom-typography: mat.define-typography-config(
  $font-family: $font-sans,
  $headline-5: mat.define-typography-level(32px, 48px, 700),
  $body-2: mat.define-typography-level(16px, 24px, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
//@include mat.all-legacy-component-typographies($custom-typography);
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vyne-app-primary: mat.define-palette($vyne-grey-blue-palette, A400, A100, A700);
$vyne-app-accent: mat.define-palette($vyne-grey-blue-palette, A400, A100, A700);

// The warn palette is optional (defaults to red).
$vyne-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$vyne-app-theme: mat.define-light-theme((
  color: (
    primary: $vyne-app-primary,
    accent: $vyne-app-accent,
    warn: $vyne-app-warn
  ),
  typography: $custom-typography,
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vyne-app-theme);
@include mat.all-component-typographies($custom-typography);


.mat-mdc-dialog-surface {
  padding: 1rem;
}

// We want the tabs to fill 100% height of their parents.
// If removing this, be sure to test the ag-grid height in the tabbed-results-view component
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-body-wrapper {
  flex-grow: 1;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
.mat-card-header-text {
  // There's an annoying indent in the card headers that offsets things by 16px :(
  margin: 0 !important;
}

.mat-mdc-tab-link {
  font-family: $headings-font;
}

tui-dialog-host {
  z-index: 10000;
}

tui-dropdown-box {
  z-index: 1000000 !important;
}

.mat-mdc-outlined-button:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 2px rgb(19 20 22 / 10%);
  background-color: rgba(255, 255, 255, 0.7);
}

.as-split-gutter {
  z-index: 1000;
  outline: 2px solid $slate-50;
  transition: outline 150ms ease-in;

  &:hover {
    outline-color: rgba($primary, 0.5);
  }
}

.monaco-hover hr {
  margin-bottom: 0.25rem !important;
}

// NOTE: not sure why we need these override to get tui-icons
//       styled correctly in v4, but we do (for now)

tui-icon[icon*='@tui.'],
tui-icon[ng-reflect-icon*='@tui.']:not([ng-reflect-icon*='tui.chevron']),
tui-tree tui-icon {
  &:before,
  &:after {
    inline-size: 70% !important;
  }
}

:not(tui-notification)[tuiIcons] {
  &:before,
  &:after {
    font-size: 1rem !important;
  }
}

tui-icon:after,
tui-icon[tuiIcons]:after {
  margin: 0 auto;
  right: 0;
}

[tuiLink][tuiIcons]:before,
[tuiLink][tuiIcons]:after {
  vertical-align: unset !important;
}

tui-badge[data-size="m"] {
  font-size: 0.8rem
}

tui-badge[data-size="l"] {
  font-size: 0.9rem
}

// Overwrite the Dark theme of the ngx-markdown component, we don't need it (yet)
// If we ever develop a Dark theme, this override can just be removed
@media (prefers-color-scheme: dark) {
  .markdown-body, [data-theme="dark"] {
    color-scheme: light;
    --focus-outlineColor: #0969da;
    --fgColor-default: #1f2328;
    --fgColor-muted: #636c76;
    --fgColor-accent: #0969da;
    --fgColor-success: #1a7f37;
    --fgColor-attention: #9a6700;
    --fgColor-danger: #d1242f;
    --fgColor-done: #8250df;
    --bgColor-default: #ffffff;
    --bgColor-muted: #f6f8fa;
    --bgColor-neutral-muted: #afb8c133;
    --bgColor-attention-muted: #fff8c5;
    --borderColor-default: #d0d7de;
    --borderColor-muted: #d0d7deb3;
    --borderColor-neutral-muted: #afb8c133;
    --borderColor-accent-emphasis: #0969da;
    --borderColor-success-emphasis: #1a7f37;
    --borderColor-attention-emphasis: #bf8700;
    --borderColor-danger-emphasis: #cf222e;
    --borderColor-done-emphasis: #8250df;
    --color-prettylights-syntax-comment: #57606a;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-prettylights-syntax-entity: #6639ba;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #0550ae;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  }
}
