@import "src/common";

@mixin vyne-table($bg-color-even: $gray-50) {
  border-collapse: collapse;
  width: 100%;

  th {
    border-bottom: solid 1px $gray-200;
    font-family: $headings-font;
    font-weight: 400;
    text-align: left;
  }
  td {
    border: none;
    border-bottom: solid 1px $gray-200;
    padding: 0.7rem 1rem 0.7rem 0.5rem;
  }

  tr:nth-child(even) {
    background-color: $bg-color-even;
  }

  @include links();
  .nested-table {
    tr:nth-child(even) {
      background-color: unset;
    }
    td {
      font-size: 0.9rem;
      border-bottom: none;
      &.label-col {
        font-family: $headings-font;
        font-weight: 400;
      }
      padding: 0 1rem 0.2rem 0;
    }
  }
}


@mixin orbital-table($table-border-radius: 6px) {
  width: 100%;
  th {
    text-align: left;
  }

  td, th {
    border-bottom: 1px solid $gray-100;
    padding: 1rem;
  }

  //box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid $gray-200;
  //border-radius: $table-border-radius;
  border-collapse: separate;
  border-spacing: 0;

  /*th:first-of-type {
    border-top-left-radius: $table-border-radius;
  }
  th:last-of-type {
    border-top-right-radius: $table-border-radius;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: $table-border-radius;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: $table-border-radius;
  }*/
}

@mixin orbital-table-with-selectable-rows {
  tbody {
    tr:hover {
      background-color: $gray-100;
      cursor: pointer;
    }

  }
}
