@import "tailwind-colors";

// These colors are the original "style".
// Try to use colors from tailwind-colors.

$light-grey-1: #ecf0f2;
$light-grey-2: #ced9de;
$blue-grey-2: #7592a2;
$blue-grey-3: #5d7f92;
$dark-grey-1: #4a6572;
$dark-grey-2: #344955;
$dark-grey-3: #232F34;
$dark-grey-4: #304f63;

$vyne-primary: #2b9efb;
$purple-grey: #5d6494;

$red-light: #f77172;

$green: #16aa6d;

$white: #ffffff;
$whiteish: $slate-50;

$body-bg: $slate-50;

$body: $dark-grey-2;

$error-200: $red-200;
$error-light: $red-400;
$error-dark: $red-500;
$error-900: $red-900;

$warning-200: $amber-200;
$warning-light: $amber-300;
$warning-dark: $amber-400;
$warning-900: $amber-900;

$success-200: $green-200;
$success-light: $lime-500;
$success-dark: $lime-700;
$success-900: $green-900;

$primary: $sky-600;
$primary-light: $sky-500;
$primary-dark: $sky-700;

$schema-type-colour: $purple-500;
$schema-model-colour: $lime-700;
$schema-service-colour: $sky-600;


$code-font-size: 15px;
// deprecated - use code-formatter-theme
$code-bg: #33374B;

$purple-white: #d5d9ea;

$grey-1: #f4f7fa;
$grey-3: #12345f;

// Colors from a pallete here:
// https://coolors.co/60b609-274060-54457f-282a3a-e66641
$vyne-green: rgb(96, 182, 9);
$color2: rgb(39, 64, 96);

$midnight-grey: #0c1826;

$dark-blue-1: #1d2539;

$blueish: #afdfff;

$bg-info: rgba($blueish, 0.3);
$bg-ok: $green-400;
$bg-status-unknown: $slate-400;
$bg-warn: $amber-400;
$bg-error: $red-200;
// Use this for things like status dots, where you don't need text over it
$bg-error-no-text: $red-400;

$warning-2: #DD8902;

$vyne-purple: #5160ff;
$vyne-lilac: #7d73b1;
$vyne-blue: #2F6BFF;

$dark-grey-2: #282a3a;

$light-purple-grey: #eef2f9;
$light-purple-grey-300: #dee3ef;
$light-purple-grey-100: #f5f6fa;

$list-border-radius: 4px;
$list-background: $slate-50;
$list-border: $slate-200;
$list-hover-background: $slate-100;
$list-selected-background: $white;
$list-selected-border: $vyne-lilac;

// From material, which is *mostly* phased out now, but
// still a few components remain
$vyne-grey-blue-palette: (
  50 : #ecf0f2,
  100 : #ced9de,
  200 : #aebfc9,
  300 : #8ea5b3,
  400 : #7592a2,
  500 : #5d7f92,
  600 : #4a6572,
  700 : #344955,
  800 : #232F34,
  900 : #304f63,
  A100 : #afdfff,
  A200 : #7ccbff,
  A400 : $vyne-primary,
  A700 : darken($vyne-primary, 30%),
  contrast: (
    A100 : #AFDFFF,
    A200 : #7CCBFF,
    A400 : $whiteish, // This is the colour used for button text against a primary button, (A400), so ensure good contrast
    A700 : #30ACFF,
  )
);


