@import "src/app/expand-panel/expand-panel";
@import "src/common";

.highlight-container {
  background-color: $body;
}

td-highlight {
  background-color: $body;
}
.inputField{
  margin-left: 1em;
  min-width: 20em;
  margin-right: 7em;
}

.filterButton{
  margin-left: 5em;
}

.filterPanelContainer{
  border-radius: 0;
  background: #eef2f9;
}

.filterIcon{
  opacity :0.6;
  width: 16px;
  padding-right: 0.5rem
}


form {
  display: flex;
  width: 100%;
  gap: 1rem;

  tui-input {
    flex-grow: 1;
  }
}

[tuiGroup] {
  // Not sure why this is required to bring the Taiga styles back into obedience, but it works
  display: block;
}
