<form [formGroup]="formGroup">
  <div
    tuiGroup
    [collapsed]="true"
  >
   <label tuiBlock="m">
     <input tuiCheckbox type="checkbox" size="s"
      i18n
      formControlName="showTypes"
     >
       Types
    </label>
   <label tuiBlock="m">
     <input tuiCheckbox type="checkbox" size="s"
      i18n
      formControlName="showModels"
     >
       Data models
    </label>
   <label tuiBlock="m">
     <input tuiCheckbox type="checkbox" size="s"
      formControlName="showServices"
     >
       Services
    </label>
   <label tuiBlock="m">
     <input tuiCheckbox type="checkbox" size="s"
      formControlName="showOperations"
     >
       Operations
    </label>
  </div>
  <tui-input
    tuiTextfieldSize="m"
    formControlName="filter"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
    tuiTextfieldIconLeft="@tui.search"
  >
    Filter
    <input
      size="m"
      tuiTextfieldLegacy
    />
  </tui-input>
</form>


<!--

<div class="code-container">
  <div class="title-bar" (click)="toggleVisibility()">
    <img src="assets/img/filter.svg" class="filterIcon">
    <span class="language-name">Filter</span>
    <div class="spacer"></div>
    <i class="material-icons {{expanded ? '' : 'panel-hidden'}}">expand_less</i>
  </div>
  <div class="expand-wrapper highlight-container filterPanelContainer {{expanded ? '' : 'panel-hidden'}}">
    <div class="container target-type-container filterPanelContainer">
      <mat-card class="filterPanelContainer">
        <mat-card-content>
          <mat-form-field class="inputField" data-e2e-id="entry-type">
            <mat-label>Entry Type</mat-label>
            <mat-select [(value)]="filter.memberType" multiple (valueChange)="updateFilter()">
              <mat-option value="TYPE" data-e2e-id="type">Type</mat-option>
              <mat-option value="OPERATION" data-e2e-id="operation">Operation</mat-option>
              <mat-option value="SERVICE" data-e2e-id="service">Service</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="inputField">
            <mat-label>Namespace</mat-label>
            <input matInput placeholder="Namespace contains..." [formControl]="namespace"
                   [(ngModel)]="filter.namespace" (ngModelChange)="updateFilter()" data-e2e-id="namespace">
            <button type="button" mat-button *ngIf="filter.namespace" matSuffix mat-icon-button aria-label="Clear"
                    (click)="filter.namespace = null; updateFilter()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="inputField">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name contains..." [formControl]="name" [(ngModel)]="filter.name"
                   (ngModelChange)="updateFilter()" data-e2e-id="name">
            <button type="button" mat-button *ngIf="filter.name" matSuffix mat-icon-button aria-label="Clear"
                    (click)="filter.name=null; updateFilter()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-stroked-button class="filterButton" (click)="clearFilter()" *ngIf="isFiltered">Clear</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

-->
