@import "src/common";
@import "src/toolbar";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 0.76rem;
  background: $gray-100;

  .add-tab-button {
    &:hover {
      background: $whiteish;
    }
  }

  tui-tabs-with-more {
    flex: auto;
    --tui-height-l: 3rem;

    .tab-button {
      padding: 0 0.25rem 0 0.8rem;
      margin-left: 0;
      border-left: 1px solid $gray-300;

      &:last-child {
        border-right: 1px solid $gray-300;
      }
    }
  }

  // When tab is not saved, display save dot unless hovering over save dot then show close cross
  // When tab is saved, display close cross when hovering over tab or tab is active
  .tab-button {
    &:hover {
      .close-button-and-unsaved-dot:not(.is-unsaved):after {
        opacity: 0.5;
      }

      .endpoint-published-icon {
        opacity: 0.7;
      }
    }

    .close-button-and-unsaved-dot {
      &:after {
        zoom: 0.75;
        display: inline-flex;
        margin: 0.5rem 0.25rem 0 0.35rem;
        line-height: 0;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }

      &:not(.no-close):after {
        content: url('/assets/img/tabler/x.svg');
      }

      &.is-unsaved {
        &:after {
          content: url('/assets/img/tabler/point.svg');
          opacity: 0.5;
        }
      }

      &.is-active {
        &:after {
          opacity: 0.75 !important;
        }
      }

      &:not(.no-close):hover {
        &:after {
          content: url('/assets/img/tabler/x.svg');
          opacity: 1 !important;
          background: $white;
          border-radius: 4px;
        }
      }
    }

    .endpoint-published-icon {
      padding-left: 0.25rem;
      opacity: 0.5;
      transition: opacity 150ms ease-in-out;

      &.is-active {
        opacity: 1;
      }
    }
  }
}

::ng-deep tui-hint {
  max-width: 600px !important;
}
