@import "src/common";

:host {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: 2rem;
  background-color: $slate-100;
  border-bottom: 1px solid $slate-300;
  gap: 1rem;

  &.collapsible {
    cursor: pointer;
  }

  &.is-secondary {
    min-height: unset;
    background-color: $gray-50;
  }

  &.is-collapsible:hover {
    background-color: $slate-200;
    cursor: pointer;

    &.is-secondary {
      background-color: $slate-100;
    }
  }
}
.spacer {
  flex-grow: 1;
}

h3, h4 {
  margin: 0.25rem 0.25rem 0.25rem 0;
}

h3 {
  font-weight: 500;
}

button.icon-button {
  background: transparent;
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
}
.collapsible-icon {

  transition: 150ms;
  &.expanded {
    transform-origin: center;
    transform: rotate(90deg);
  }
}
