@import "src/common";

:host {
  display: flex;

  &.reverse-gutter {
    flex-direction: row-reverse;
  }
}
.body {
  flex-grow: 1;
  border: 1px solid $slate-200;
  display: flex;
  flex-direction: column;
}
.gutter {
  &.gutter-border {
    border-right: 1px solid $slate-200;
  }
  background-color: $slate-50;
  padding-top: 4px;

  button {
    cursor: pointer;
    //margin-bottom: 0.5rem;
    border: none;
    background-color: transparent;
    &.active {
      img {
        opacity: 1;
        border: 2px solid $sky-500;
        background-color: $slate-200;
      }
      &:hover {
        img {
          background-color: $slate-200;
        }
      }
    }

    &:hover {
      img {
        opacity: 1;
        background-color: $slate-200;
      }
    }
    img {
      border: 2px solid transparent;
      border-radius: 8px;
      width: 20px;
      height: 20px;
      opacity: 0.6;
      padding: 0.5rem;
    }
  }
}
