@import "src/common";

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-container {
  display: flex;
  width: 100%;
  min-width: 0; // prevents resize shenanigans in the lineage diagram
  flex-direction: column;
  position: relative; // for the progress bar to be positioned correctly
}

.alerts-container {
  width: 100%;
}

$header-bar-height: 53px;

.sidenav-and-content-container {
  height: calc(100% - $header-bar-height);
  display: flex;
}

.app-page-content {
  flex-grow: 1;
  background-color: $body-bg;
  overflow: auto;

  &.isLoading {
    opacity: 0.5;
    cursor: progress;

    // assume the sibling content to the router-outlet is the content
    // being unloaded and as we can't set pointer-events: none and change
    // the cursor on the same element we're using this trick instead
    ::ng-deep {
      router-outlet ~ .ng-star-inserted {
        pointer-events: none;
      }
    }
  }
}

progress {
  position: absolute;
}
