@import "src/common";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $gray-100;

  ::ng-deep app-panel-header {
    :host-context(:not(.theme-playground)) {
      background: $slate-100 !important;

      &.has-errors {
        background: $amber-50 !important;
      }
    }
  }

  ::ng-deep tui-expand {
    .t-content {
      padding: 0 !important;
    }
  }
}

.grow {
  flex-grow: 1;
  overflow: auto;
}

::ng-deep.t-title {
  font-size: 0.8rem !important;
}

.no-errors {
  padding: 1rem;
}

tui-badge-notification {
  margin: 0 0.25rem;
  background: $gray-400;
}


.accordion-header {
  display: flex;
  align-items: center;

  img {
    opacity: 0.7;
    width: 0.9rem;
    margin-right: 1rem;
  }
}

.error-row {
  display: flex;
  align-items: center;

  cursor: pointer;

  font-size: 0.8rem;
  color: $slate-800;

  margin-left: 1rem;

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  padding: 0.2rem 0.5rem;

  &:hover {
    background-color: $slate-100;
  }

  .message-line {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 1rem;
  }

  .message-position {
    text-wrap: nowrap;
    opacity: 0.6;
  }
}

::ng-deep tui-accordion-item {
  button.t-header {
    // Make the accordion header a little tighter
    padding: .425rem .75rem .425rem 1rem !important;
    min-height: unset !important;
  }
}

::ng-deep tui-hint {
  max-width: 400px !important;
}
