@import "src/common";
:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.schema-source-tabs {
  margin-bottom: 1rem;
  border-bottom: 1px solid $slate-300;

  img {
    margin-right: 0.5rem;
    opacity: 0.5;
  }
}

.documentation-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-bar {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;

  button:not(:first-child) {
    margin-left: 1rem;
  }
}

app-schema-member-tree {
  padding-top: 1rem;
}

app-schema-diagram {
  height: 100%;
}

.code-editor {
  flex-grow: 1;
}

.documentation-content {
  flex-grow: 1;
  overflow: auto;
  margin-left: 1rem; // To give space from the as-split divider
  padding-top: 1rem;

  app-type-viewer, app-operation-view {
    width: 100%;

    ::ng-deep h1 {
      margin-top: 0;
    }
  }
}

.island {
  background-color: $body-bg;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.readme-diagram-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 1rem;
  height: 99%; // schema diagram layout goes haywire if set to 100%

  tui-segmented {
    align-self: flex-start;
    flex-shrink: 0;
  }

  h2 {
    margin: 0;
  }

  .add-readme-call-to-action {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    img {
      height: 50px
    }
  }
}

:host ::ng-deep {
  markdown {
    margin: 1rem;
    padding-bottom: 2rem;

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }
  }

  .code-toolbar {
    position: relative;

    &:hover {
      .toolbar-item > button {
        opacity: 1 !important;
      }
    }

    .toolbar {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;

      .toolbar-item > button {
        opacity: 0.75;
        cursor: pointer;
      }
    }
  }
}
