@import "src/common";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  &::ng-deep {
    tui-expand {
      margin-top: 0.25rem;
      margin-left: 2.15rem !important;
    }

    tui-tree-item.tree-item-leaf-node {
      padding: 0.15rem 0;
      margin-left: 0.15rem;
      white-space: nowrap;

      > *:not(._expandable) {
        padding-left: 0.25rem !important;
      }

      // The rest of this is the styling for the hierarchy decoration of the nodes
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: -1.56rem;
      }

      &:before {
        width: 0.8rem;
        height: 0;
        top: 0.95rem;
        border-bottom: 1px solid $gray-300;
      }

      &:not(._expandable){
        &:before {
          width: 1.35rem;
        }
      }

      &:after {
        top: -0.3rem;
        height: 100%;
        width: 0;
        border-left: 1px solid $gray-300;
      }

      &:last-child::after {
        height: 1.25rem;
      }
    }
  }
}

.schema-member-kind-badge {
  @extend %type-badge;
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0.4rem;
}

.schema-member-kind-label {
  &:after {
    content: ' ('attr(data-kind)')';
    font-size: 0.7rem;
    opacity: 0.7;
  }
}

.root-tree-item {
  margin-bottom: 0.5rem;
  display: grid; // allows the width to stretch when the content overflows horizontally

  // For the case where there's no members, keep the left margin
  &:not(:has(tui-expand)) {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

.tree-item-leaf-node {
  border-radius: 4px;
  width: 100%;
  font-size: 0.9rem;

  img {
    padding-right: 2px;
    opacity: 0.8;
  }

  &:hover {
    background-color: $gray-100;
    color: $sky-700;
    cursor: pointer;
  }

  &.active,
  &.active:hover {
    background-color: $gray-200;
    color: $sky-800;
    font-weight: bold;
    cursor: default;
  }
}

.schema-member-icon {
  margin-right: 0.2rem;
}
