@import "src/common";

.connection-error-grid {
  display: grid;
  grid-template-columns: max-content max-content auto;
  gap: 0.75rem;
  align-items: center;

  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  app-connection-status {
    ::ng-deep tui-badge {
      margin: 0;
    }
  }
}

.row {
  display: flex;
  gap: 2rem;
}

h4 {
  margin: 1rem 0 0.5rem 0;
}

app-statistic::ng-deep {
  min-width: 6rem;

  .stat-value {
    font-size: 2.3rem;
  }
}
