<app-card
  title="Data sources"
  titleLink="/data-source-manager"
  icon="/assets/img/tabler/plug.svg"
>
  <ng-container ngProjectAs="header-controls">
    <button
      tuiButton
      size="s"
      iconStart="@tui.plus"
      appearance="whiteblock"
      routerLink="/data-source-manager/add"
    >
      Add data source
    </button>
  </ng-container>
  <progress *ngIf="connectionsLoading()" tuiProgressBar max="100" size="s"></progress>
  <div class="row">
    <app-statistic size="l"
                   status="success"
                   label="Healthy"
                   [value]="healthyConnections()?.length?.toString()"
    />
    <app-statistic size="l"
                   status="warning"
                   label="Unhealthy"
                   [value]="unhealthyConnections()?.length?.toString()"
                   *ngIf="unhealthyConnections()?.length > 0"
    />
    <app-statistic size="l"
                   status="error"
                   label="Error"
                   [value]="definitionsWithErrors()?.length?.toString()"
                   *ngIf="definitionsWithErrors()?.length > 0"
    />
  </div>
  <ng-container *ngIf="unhealthyConnections()?.length">
    <h4>Unhealthy connections:</h4>
    <div class="connection-error-grid">
      <ng-container *ngFor="let conn of unhealthyConnections()">
        <strong>{{conn.connectionName}}</strong>
        <app-connection-status [status]="conn.connectionStatus" [hideTimestamp]="true"></app-connection-status>
        <a
          class="link"
          [routerLink]="'/data-source-manager/' + conn.packageIdentifier.uriSafeId + '/' + conn.connectionName"
          [title]="conn.connectionStatus.message"
        >
          {{conn.connectionStatus.message}}
        </a>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="definitionsWithErrors()?.length">
    <h4>Definition errors:</h4>
    <div *ngFor="let defn of definitionsWithErrors()" class="connection-error">
      <div *ngIf="defn.identifier.uriSafeId?.split(':') as packageSplit">{{packageSplit?.[0]}} / {{packageSplit?.[1]}}</div>
      <a
        class="link"
        routerLink="/data-source-manager/problems"
        [title]="defn.error"
      >
        {{defn.error}}
      </a>
    </div>
  </ng-container>
</app-card>
