@import "src/common";
@import "src/typography";

.list-container {
  width: 350px;
  height: 100%;
  overflow-y: auto;
  background-color: $list-background;
  border-right: 1px solid $slate-300;

  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $gray-200;
    padding: 0.35rem 0.5rem 0.15rem 0.5rem;
    border-bottom: 1px solid $gray-300;
  }
}

.source-package-card {
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid $list-border;

  &.selected-list-item {
    background: $list-selected-background;
    border: 1px solid $list-selected-border !important;
  }

  &:hover {
    &:not(.selected-list-item) {
      background-color: $list-hover-background;
      cursor: pointer;
    }
  }

  &.error-state {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    h3 {
      margin: 0;
    }

    font-size: 0.9rem;
    background-color: $red-50;
    border-color: $red-400;
    border-width: 2px;
    border-radius: 4px;

    &:hover {
      background-color: $red-100;
      // don't let the other hover state override
      border-color: $red-400;
      border-width: 2px;
    }
  }

  &:last-child {
    margin-bottom: 1rem;
    border-bottom: none;
  }
}

.package-title {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.tag-table {
  .tag-title {
    opacity: 0.8;
  }

  td:not(:last-child) {
    padding-right: 2rem;
  }
}

.icon-bar {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  opacity: 0.8;

  img {
    margin-right: 0.5rem;
    width: 16px;
  }

  .spacer {
    flex-grow: 1;
  }
}

.unhealthy-state {
  color: $error-dark;
  margin-bottom: 0.5rem;
}
