<ng-container *ngIf="changesetService.isCustomChangesetSelected()">
  <mat-toolbar class="bottom" color="primary">
    <div class="left">
      <button
        appearance="outline-grayscale"
        iconEnd="@tui.rotate"
        size="m"
        tuiButton>Draft
      </button>
    </div>
    <div class="center">
      <div (click)="changesetService.rename().subscribe()" class="title">
        {{(changesetService.activeChangeset$ | async).name}}
        <mat-icon [matTooltip]="'Change the name of the draft'">edit</mat-icon>
      </div>
      <div class="description subtle">
        Created <i>{{getCreatedAtString()}}</i> by <a>you</a>
        <span
          *ngIf="changesetService.activeChangesetOverview !== null"> • {{changesetService.activeChangesetOverview.changedFiles}}
          changes</span>
      </div>
    </div>
    <div class="right">
      <button
        (click)="commitChanges()"
        class="tui-space_right-3"
        size="m"
        tuiButton>Propose this draft
      </button>
      <button
        (click)="selectDefaultChangeset()"
        [matTooltip]="'Move back to the published version'"
        appearance="flat"
        iconStart="@tui.x"
        size="m"
        tuiIconButton></button>
    </div>
  </mat-toolbar>
</ng-container>
