@import "src/common";
@import "./endpoint-list.component";

:host {
  position: relative;
}

app-query-lineage {
  height: 300px;
  display: block;
  // compensate for internal margin
  margin: 0 -1rem;
}
progress {
  position: absolute;
  top: 44px;
}

.axes {
  height: 12.5rem;
  width: 25rem;
  color: #bc71c9;
}

app-code-viewer {
  height: 15rem;
}

.error-notification {
  margin: 1rem 0;
}

.chart-row {
  display: flex;
  .label-box {
    flex-shrink: 0;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      color: $slate-600;
    }
    .hero-datapoint {
      font-size: 1.2rem;
    }
  }
  apx-chart {
    flex-grow: 1;
  }

  &.is-loading {
    opacity: 0.5;
  }
}

app-panel-header {
  padding: 0.5rem;

  .period-select {
    width: 10rem;
  }

  &.no-header {
    background: none;

    ::ng-deep h3 {
      display: none;
    }
  }
}
