@import "src/common";

:host app-header-component-layout {
  tui-toggle {
    margin-right: 1rem;

    // Adjust the color of the toggle, as it's shown
    // inside the
    ::ng-deep {
      [tuiWrapper][data-appearance='secondary'] {
        background-color: $slate-300;
        &:hover {
          background-color: $slate-400;
        }
      }
    }
  }

  tui-notification {
    margin-top: 1rem;
  }
}

.stream-status-and-toggle {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
