@import "src/common";
@import "src/tables";

.query-list {
  @include orbital-table();
  @include orbital-table-with-selectable-rows();
}

.url-parts {
  font-size: 0.8rem;
  font-family: $mono;
  display: inline-table;
  align-items: center;

  &:first-child:not(:only-child) {
    padding-right: 0.6rem;
    margin-right: 0.5rem;
    border-right: 1px solid $gray-300;
  }
}

td.badges {
  display: flex;
  gap: 1rem;
}
