@import "src/common";

$border-width: 3px;
:host {
  background-color: $slate-800;
  //height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  padding: 0 0.5rem;
}

mat-icon, app-svg-icon {
  width: 32px;
  height: 32px;
  padding: 0.25rem;
}

.icon-toggle-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 2px 0.5rem;
  cursor: pointer;
  display: flex;
  border-left: $border-width solid transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.active {
    border-left: $border-width solid $sky-500;
  }
}

.button-with-lang-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-bottom: 0.5rem;

  .lang-badge {
    // Position the badge
    margin-top: -0.8rem;

    color: white;
    background-color: $sky-700;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: bold;
  }
}

.spacer {
  flex-grow: 1;
}

.left {
}

mat-icon, app-svg-icon {
  color: white;
}
