<div #chartOuterContianer class="chart-outer-container">
  <div class="chart-col">
    <ngx-graph class="chart-container" [links]="typeLinks.links"
               [nodes]="typeLinks.nodes" [view]="chartDimensions" autoZoom="true"
               autoCenter="true"
               [scheme]="colorScheme"
               [curve]="curve" >

      <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
        </svg:marker>
      </ng-template>

      <ng-template #nodeTemplate let-node>
        <svg:g class="node">
          <svg:rect [attr.width]="node.width" [attr.height]="node.height" fill="#ffffff" rx="6" ry="6"
                    [attr.stroke]="getStroke(node)" stroke-width="2" style="stroke-width:2"/>
          <svg:text dominant-baseline="hanging" [attr.x]="10" [attr.y]="getNodeLabelYOffset(node)">
            <tspan>{{node.label}}</tspan>
            <tspan *ngIf="node.returnType" dy="20" dx="10" x="0">{{node.returnType}}</tspan>
          </svg:text>
        </svg:g>
      </ng-template>

      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
          </svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                      startOffset="50%">
              {{link.label}}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>

    </ngx-graph>
  </div>
</div>
