@import "src/common";
:host {
  display: block;
  margin-bottom: 1rem;
}

button {
  border: 1px solid $slate-300;
  background-color: $slate-50;
  cursor: pointer;

  app-svg-icon {
    margin-right: 0.5rem;
    color: $green-700;
  }

  .label {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
