@use '@angular/material' as mat;
@import "../common";
@import "../orbital-theme";

$body-bg: #eeeeee;
:root {

  --body-font: 'nunito-sans', sans-serif;
  --mono-font: 'jetbrains-mono', monospace;
  --headings-font: 'DM Sans', sans-serif;

  --tui-text-font: #{$body-font};
  --tui-font-text: #{$body-font};
  --tui-heading-font: #{$body-font};

  // After upgrading taiga 2->3, everything was shrunk
  // to 13px.  This seems to fix it.
  --tui-font-text-s: normal 1rem #{$body-font};
  --tui-font-heading-6: normal 1rem #{$headings-font};

  --navbar-bg-color: #{$midnight-grey};
  --navbar-text-color: #{$gray-400};
  --navbar-text-color-active: white;
  --navbar-bg-color-active: #{$gray-800};

  --app-background-color: #{$body-bg};

  --component-bg-color: #{$slate-100};

  --tui-background-accent-1: #{$primary};
  --tui-background-accent-1-hover: #{$primary-light};
  --tui-background-accent-1-pressed: #{$primary-dark};

  --tui-radius-s: 3px;
  --tui-radius-m: 5px;
  --tui-radius-l: 6px;

  tui-dialog {
    border-radius: 6px;
  }

  [tuiWrapper][data-appearance='textfield']:hover:not(._no-hover) {
  }

  [tuiWrapper][data-appearance='textfield']:hover:not(._no-hover), [tuiWrapper][data-appearance='textfield'][data-state='hover'] {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.06);
    outline: solid 1px #{$slate-300};

  }

  // Font shown in dialog titles
  --tui-font-heading-3: 1.3rem var(--tui-font-heading);
}


html, body {
  height: 100%;
  overflow: hidden;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: $font-sans;

  --tui-background-accent-1: #3b6af9;
}

button {
  font-family: $body-font;
}

/* For use in src/lib/core/theming/_palette.scss */
$primary: (
  50 : #e7edfe,
  100 : #c4d2fd,
  200 : #9db5fc,
  300 : #7697fb,
  400 : #5880fa,
  500 : #3b6af9,
  600 : #3562f8,
  700 : #2d57f7,
  800 : #264df6,
  900 : #193cf5,
  A100 : #ffffff,
  A200 : #f3f5ff,
  A400 : #c0c9ff,
  A700 : #a7b2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$accent: (
  50 : #fef8e8,
  100 : #feeec5,
  200 : #fde29e,
  300 : #fcd677,
  400 : #fbce59,
  500 : #fac53c,
  600 : #f9bf36,
  700 : #f9b82e,
  800 : #f8b027,
  900 : #f6a31a,
  A100 : #ffffff,
  A200 : #fffbf6,
  A400 : #ffe7c3,
  A700 : #ffdca9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat.define-palette($primary);
$accent-palette: mat.define-palette($accent);


// Create the theme object (a Sass map containing all of the palettes).
$vyne-app-theme: mat.define-light-theme($primary-palette, $accent-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vyne-app-theme);


.cc-window {
  font-size: 14px !important;
}

tui-root {
  --tui-duration: 150ms !important;
}


tui-hint {
  background-color: $slate-700 !important;
  color: white !important;
  font-size: 0.9rem;
  font-family:  #{$headings-font} !important;
  //padding: 0.25rem 1rem !important;
  //min-height: unset !important;
}


.fullscreen {
  $header-height: 53px;
  $sidenav-width: 58px;
  position: fixed;
  top: calc(0.5rem + $header-height) !important;
  left: calc(0.5rem + $sidenav-width) !important;
  width: calc(100% - $sidenav-width - 1rem) !important;
  height: calc(100% - $header-height - 1rem) !important;
  z-index: 2000;
}

::ng-deep.toolbar.is-full-screen {
  $header-height: 53px;
  $sidenav-width: 58px;
  top: calc(1rem + $header-height) !important;
  left: calc(1rem + $sidenav-width) !important;
  right: 1rem !important;
}

app-panel-header {
  color: $slate-50 !important;
  background-color: $slate-700 !important;
  border-bottom: 1px solid $slate-900 !important;

  &.is-secondary {
    color: $slate-50 !important;
    background-color: $slate-700 !important;
  }
  font-weight: 300 !important;

  h3 {
    font-size: 0.9rem !important;
    color: $slate-50 !important;
    font-weight: 300 !important;
    text-transform: none !important;
  }

  h4 {
    color: $slate-50 !important;
    font-weight: 500 !important;
    font-size: 0.75rem !important;
  }

  &.is-collapsible:hover {
    background-color: $slate-600 !important;
  }
}

tui-segmented.dark {
  background: $slate-800;

  &::before {
    box-shadow: none;
    color: $slate-900;
  }

  button {
    font-size: 0.8rem;
    color: $slate-400;

    &.active {
      color: white;
      opacity: 1 !important;
    }

    &:hover:not(.active) {
      color: $slate-300;
      background: $slate-700;
    }
  }
}

tui-dialog[data-appearance='no-border'] {
  .t-content {
    padding: 0;
  }
}
