@import "src/as-split";

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex-grow: 1;
  display: flex;
  height: 10px;
  //flex-direction: column;
}

.panel-with-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .flex-grow {
    flex-grow: 1;
    height: 100%;
  }
}


app-schema-diagram {
  flex-grow: 1;
  height: 100%;
}

.fullscreen {
  position: fixed;
  top: 2rem;
  height: calc(100vh - 4rem);
  left: 20px;
  width: calc(100vw - 60px);
  z-index: 2000;
  background-color: white;
}

@include thin-splitter();
