@import "src/common";

:host {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.search-bar-container {
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
  position: relative;

  a {
    margin: 1rem 0;
  }
}

.input-container {
  display: flex;

  .text-input {
    flex-grow: 1;
  }
}

.search-results-table-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  mat-table {
    flex-grow: 1;
    width: 100%;
    margin-right: 1rem;
    border-radius: 8px;
  }
}

.hidden {
  opacity: 0;
}
.select-label-hint {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-column-result {
  flex-grow: 1;
  margin-right: 1rem;
}

.mat-column-publishers,
.mat-column-consumers {
  min-width: 20rem;
  flex-grow: 0;
  margin-right: 1rem;
}

mat-header-row {
  border-radius: 8px 8px 0 0;
}
mat-row {
  cursor: pointer;
  align-items: flex-start;

  &:hover {
    background-color: $gray-50;
  }
}

.operations-container {
  justify-content: right;
  display: flex;
}

.row {
  width: 100%;
}

.expand-collapse-link {
  font-weight: 600;
  margin-top: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}
