@import "src/common";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; // prevents the resize handler in the schema-diagram looping

  app-data-catalog-search {
    flex-grow: 1;
    overflow: auto;
  }
}

app-schema-diagram {
  // This makes the diagram consume the remainder of the vertical space
  height: inherit;
}

progress {
  position: absolute;
  bottom: 0;
}
