tui-notification {
  margin-bottom: 1rem;
}

tui-select, tui-input {
  margin-bottom: 1rem;
}

.row {
  display: flex;

  .spacer {
    flex-grow: 1;
  }
}

.hidden {
  display: none;
}

.remove-endpoint-text {
  margin-bottom: 1rem;
}
