@import "src/common";
@import "../shared";

:host {
  display: flex;
  gap: 0.15rem;
  align-items: center;
  background: $gray-200;
  padding: 0.35rem 1rem 0.15rem 0.5rem;
  border-bottom: 1px solid $gray-300;
  border-top: 1px solid $gray-300;
}

button {
  flex-shrink: 0;
}

.menu-bar-button {
  margin-bottom: 0.2rem;

  &.toggleable {
    background: none;

    &:hover {
      background: $gray-100;
    }
  }

  &.is-toggled {
    background: $whiteish;

    &:hover {
      background: $white;
    }
  }
}
