<div #chartOuterContianer *ngIf="schemaGraph?.nodes?.length > 0" [class.fullscreen]="fullscreen"
     class="chart-outer-container"
>
  <div class="toolbar">
    <div class="spacer"></div>
    <button (click)="toggleFullscreen()" class="fullscreen-toggle" mat-icon-button>
      <img *ngIf="!fullscreen" src="assets/img/full-screen-on.svg">
      <img *ngIf="fullscreen" src="assets/img/full-screen-off.svg">
    </button>
  </div>
  <ngx-graph class="chart-container"
             [view]="[chartOuterContianer.offsetWidth, chartOuterContianer.offsetHeight]"
             [links]="schemaGraph.links"
             [nodes]="schemaGraph.nodes"
             [enableZoom]="true"
             [panningEnabled]="true"
             [autoCenter]="true"
             [draggingEnabled]="true"
             orientation="LR"
             [update$]="graphNodesChanged"
             [curve]="curve" (select)="nodeSelected($event)">

    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
      </svg:marker>
      <svg:filter id="shadow">
        <svg:feDropShadow dx="0.2" dy="0.4" stdDeviation="0.2" flood-opacity="0.6"/>
      </svg:filter>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node" style="filter:url(#shadow)">
        <svg:path [attr.d]="outerRectangle(node.dimension.width, node.dimension.height)" [attr.stroke]="getBorderColor(node)" stroke-width="0.5" [attr.fill]="getFill(node)"></svg:path>
        <svg:path [attr.d]="innerRectangle(4, node.dimension.height)" stroke="none" [attr.fill]="getStroke(node)"></svg:path>
        <!--          <svg:rect [attr.width]="node.width" [attr.height]="node.height"-->
        <!--                    stoke-width="2"-->
        <!--                    [attr.fill]="getStroke(node)" stroke="#000000" rx="6" ry="6"/>-->

        <svg:text alignment-baseline="central" x="15" y="15" fill="#7592a2" font-size="12">{{node.subHeader}}</svg:text>
        <svg:text *ngIf="showServiceName(node)" alignment-baseline="central" x="15" y="35" fill="#7592a2"
                  font-size="12">{{serviceName(node)}}
        </svg:text>
        <svg:text *ngIf="showServiceName(node)" alignment-baseline="central" x="15" y="52" fill="#4e8dc0"
                  font-size="18">{{operationName(node)}}
        </svg:text>
        <svg:text *ngIf="!showServiceName(node)" alignment-baseline="central" x="15" y="40" fill="#4e8dc0"
                  font-size="18">{{node.label}}
        </svg:text>

<!--        <svg:foreignObject x="10" y="10" width="100" height="150">-->
<!--          <xhtml:table xmlns="http://www.w3.org/1999/xhtml">-->
<!--            <tr>-->
<!--              <td>One</td>-->
<!--              <td>Two</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>One</td>-->
<!--              <td>Two</td>-->
<!--            </tr>-->
<!--          </xhtml:table>-->
<!--        </svg:foreignObject>-->
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
        </svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                    startOffset="50%">
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>

  </ngx-graph>
</div>
