@import "src/common";

.text-path {
  fill: $dark-grey-1 !important;
}

.chart-outer-container {

  border: 1px solid $light-purple-grey-300;
  border-radius: 4px;
  background-color: $grey-1;

  //border: 1px solid rgba($vyne-lilac, 0.1);
  //background-color: $light-purple-grey-100;
}

.chart-outer-container:not(.fullscreen) {
  height: 400px;
  width: 100%;
}

.node {
  //font-size: 0.8rem;
  font-family: $font-sans-alt;
  cursor: pointer;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

.toolbar {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: row;

  .spacer {
    flex-grow: 1;
  }

  .fullscreen-toggle {
    opacity: 0.65;

    img {
      width: 18px;
    }
  }
}

