@import "src/common";

:host {
  flex: auto;
  min-height: 0;
}

.text-path {
  fill: $dark-grey-1 !important;
}

.chart-outer-container {
  border: 1px solid $gray-300;
  background-color: $light-purple-grey-100;
}
.chart-outer-container:not(.fullscreen) {
  height: calc(100% - 2rem);
  margin: 0 1rem;
  position: relative;
}

.node {
  //font-size: 0.8rem;
  font-family: $font-sans-alt;
  cursor: pointer;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

.toolbar {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;

  mat-chip-listbox {
    pointer-events: all;
  }

  .spacer {
    flex-grow: 1;
  }

  .fullscreen-toggle {
    pointer-events: all;
    opacity: 0.65;

    img {
      width: 18px;
    }
  }
}

.no-data {
  margin-left: 1rem;
}
