@import "src/common";

:host {
  width: 100%;

  ::ng-deep tui-hosted-dropdown {
    display: block;
  }
}

.user-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }
}

.logout-button {
  justify-content: unset;
}

.logout-icon {
  width: 24px;
  margin-right: 0.5rem;
}

.logout-buttons {
  display: flex;
  justify-content: space-between;
}

tui-notification {
  margin-top: 1rem;
}

tui-opt-group:before {
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-200;
}
