@import "src/common";
@import "src/toolbar";

:host {
  background-color: $body-bg;
  display: block;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.page-heading {
  h1 {
    margin-top: 0;
  }
  h4 {
    font-size: 1rem;
    color: lighten($body, 5);
    margin: 0;
  }
}

.button-row {
  display: flex;
  button {
    margin-right: 1rem;
  }
}
.spacer {
  flex-grow: 1;
}

.spacer-gap {
  width: 4rem;
}
.row {
  display: flex;
}
.stats-row {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}

.transport-config-row {
  display: flex;
 app-input-editor {
   margin-right: 2rem;
   flex-grow: 1;
 }
  app-output-editor {
    flex-grow: 1;
  }
}
