.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: unset; // remove height 100%
  padding: 2rem 2rem 0; // override padding to remove the bottom
}

.row {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}

.title-row {
  justify-content: center;
}
.card-row {
  justify-content: space-between;

  app-landing-card {
    flex-grow: 1;

    &:first-child {
      margin-right: 2rem;
    }

  }
}

.search-row {
  app-landing-card {
    width: 100%;
  }
}
