:host {
  display: flex; // This is required to allow the Monaco editor to stretch vertically
  flex-direction: column;
  height: 100%;
  margin: 0 2rem;
}

.intro-text {
  margin: 0;
}

:host ::ng-deep {
  app-data-source-import {
    background-color: transparent !important;
  }
}

.data-source-created {
  margin-bottom: 2rem;

  h3 {
    margin-right: 1rem;
  }

  .next-step {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
