<ng-container [ngSwitch]="step">
  <ng-container *ngSwitchCase="'dataSourceSelected'">
    <!-- // Intentionally blank -->
  </ng-container>
  <ng-container *ngSwitchCase="'dataSourceConfigured'">
    <div class="data-source-created">
      <h3 class="intro-text">Great! Now that you've created a data source, continue on to explore some more {{ uiConfig.productName }} tooling</h3>
      <p class="next-step">
        (or feel free to create another data source)
        <button tuiButton size="m" class="next-step" [routerLink]="['/onboarding/explore']">Next step</button>
      </p>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <h3 class="intro-text">Data sources are the database tables, APIs and Kafka topics that fuel {{ uiConfig.productName }}.</h3>
    <p>Add one to bring its data into {{ uiConfig.productName }}'s catalog for querying.</p>
  </ng-container>
</ng-container>

<app-data-source-import
  title=""
  useIslandContainer="true"
  codeViewerFlexBoxMode="grid"
  (dataSourceSelected)="step = 'dataSourceSelected'; onDataSourceSelected()"
  (dataSourceAdded)="step = 'dataSourceConfigured'"
  (onConfigureStep)="step = $event === false ? 'options' : step = step"
></app-data-source-import>
