:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-type-link-graph {
  display: block;
  height: 100%;
  width: 100%;
}

.input-container {
  textarea {
    width: 100%;
  }
  margin-bottom: 1rem;
}
