@import "src/common";

:host {
  height: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.errors-panel {
  padding: 1rem;
  margin-bottom: 0.75rem;
  margin-right: 0.2rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  font-size: 0.9rem;
  background-color: $red-50;
  border-radius: 4px;
  border: 2px solid $red-400;

  h3 {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: $red-100;
    // don't let the other hover state override
    border-color: $red-400;
    border-width: 2px;
  }
}
.no-route-selected {
  display: none;
}

router-outlet + .no-route-selected {
  display: block;
  margin: 1rem 2rem;
}

