:host {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.icon-badge {
  img {
    margin-right: 0.35rem;
  }
  display: flex;
  align-items: center;

  .label {
    margin-right: 0.5rem;
  }
}
