@import "src/common";
:host {
  font-size: 0.9rem;
}

.field-row {
  display: flex;
  font-family: $mono;
  font-size: 0.8rem;
  align-items: center;

  .checkbox-label {
    margin-right: 1.5rem;
  }
}

.description-editor-container {
  margin-top: 0.5rem;
}

::ng-deep {
  tui-badge {
    margin-right: 0.5rem;
    // NOTE: these overrides shouldn't be required, something's up with Taiga v4
    //font-size: 0.75rem !important;
    //padding: 0 0.4rem !important;
    //block-size: 1.5rem !important;
  }
}

.field-name {
  color: $gray-900;
  font-size: 0.9rem;
}

.scalar-base-type {
  color: $gray-400;

  .schema-member-navigable {
    cursor: pointer;
  }
}

.field-spacer {
  padding: 0 0.5rem;
}

.new-tag {
  margin: 0 0.5rem;
}

.toggle-buttons-row {
  display: flex;

  margin: 0.5rem 0;
}

.mono-badge {
  margin-top: 0;
  font-size: 0.8rem !important;
}

.type-name-container {
  display: flex;
  padding: 2px;
  gap: 0.25rem;
  cursor: pointer;
  border-radius: 4px;

  img {
    opacity: 0.35;
  }

  &:hover {
    outline: 1px solid $gray-400;

    img {
      opacity: 0.75;
    }
  }
}
