@import "src/common";

:host {
  border-top: 1px dotted $slate-300;
  padding: 0.75rem 0.25rem;
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

.tree-node {
  flex-grow: 1;
}

.tree-node.child {
  margin: 0.5rem 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: -0.75rem;
    z-index: -1;
    top: 1.4rem;
  }

  &:before {
    width: 2rem;
    border-top: 1px solid $gray-400;
  }
}

.tree-node.child.isLastChild {
  &:after {
    top: -1rem;
    bottom: 4.4rem; // Magic variable, calculated by fiddling about.
    border-left: 1px solid $gray-300;
  }
}

.tree-node.child:not(.isLastChild) {
  // Controls the tree borders on expanded nodes.
  // These values are all magic, calculated by fiddling about.
  &:after {
    top: -0.7rem;
    bottom: -1.3rem;
    border-left: 1px solid $gray-300;
  }
}
