<div class="documentation" *ngIf="type">
  <div class="type-name">
    <h1>
      {{type?.name?.name}}
      <span
        class="badge"
        [ngClass]="{'type': type.isScalar, 'model': !type.isScalar}"
      >
        {{type.isScalar ? "Type" : "Model"}}
      </span>
    </h1>
<!--    <p class="last-edited smaller"><a href="https://github.com">Last edited</a> by Michael Stone.</p>-->
    <div class="types-row">
      <span class="mono-badge">{{type?.name?.fullyQualifiedName}}</span>
      <app-inherits-from [type]="type" [editable]="editable"
                         [commitMode]="commitMode"
                         (newTypeCreated)="newTypeCreated.emit($event)"
                         (updateDeferred)="typeUpdated.emit($event)"
      ></app-inherits-from>
    </div>

  </div>


  <section *ngIf="showDocumentation">
    <app-description-editor-container
      [type]="type"
      [editable]="editable"
      [commitMode]="commitMode"
      (updateDeferred)="onDescriptionChanged($event)"
    ></app-description-editor-container>
  </section>
<!--  <section class="no-h2" *ngIf="showTags">-->
<!--    <app-tags-section [metadata]="type.metadata" [type]="type" [commitMode]="commitMode"-->
<!--                      (updateDeferred)="typeUpdated.emit(type)"></app-tags-section>-->
<!--  </section>-->

  <section *ngIf="hasAttributes && showAttributes">
    <h2>Attributes</h2>
    <div class="full-type-names-toggle">
      <span>Show full type names</span>
      <input
        tuiSwitch
        type="checkbox"
        [(ngModel)]="showFullTypeNames"
        [showIcons]="true"
        size="s"
      />
    </div>
    <app-model-attribute-tree-list
      [schema]="schema"
      [partialSchema]="partialSchema"
      [showFullTypeNames]="showFullTypeNames"
      [anonymousTypes]="anonymousTypes"
      [model]="type"
      [editable]="editable"
      [schemaMemberNavigable]="schemaMemberNavigable"
      [commitMode]="commitMode"
      (typeNameClicked)="navigateToType($event)"
      (newTypeCreated)="newTypeCreated.emit($event)"
      (updateDeferred)="typeUpdated.emit({schemaEditOperation: $event.schemaEditOperation, member: type})"
    ></app-model-attribute-tree-list>
  </section>
  <section *ngIf="hasEnumValues && showDocumentation">
    <h2>Enum Values</h2>
    <app-enum-table [type]="type"></app-enum-table>
  </section>
  <section *ngIf="showUsages">
    <h2>Usages</h2>
    <h3>Services</h3>
    <app-usages-table [typeUsages]="typeUsages" [schemaMemberNavigable]="schemaMemberNavigable"></app-usages-table>
    <h3>Chart</h3>

    <tui-tabs [(activeItemIndex)]="chartDisplayTabIndex"
              *ngIf="(config$ | async)?.featureToggles.serviceLineageDiagramsEnabled"
    >
      <button tuiTab>Links</button>
      <button tuiTab>Lineage</button>
    </tui-tabs>
    <div class="chart-container" *ngIf="chartDisplayTabIndex === 0">
      <p class="help-text">This chart shows how {{type.name.shortDisplayName}} links between data sources to make
        other data available.</p>
      <p class="help-text">The data shown here is discoverable by {{UiCustomisations.productName}} using a query, and knowing the value of
        a {{type.name.shortDisplayName}}. </p>
      <app-schema-diagram
        [schema$]="schema$"
        [displayedMembers]="[type.name.fullyQualifiedName]"
        [memberNameNavigable]="!editable"
        hasBorder="true"
      ></app-schema-diagram>
      <!--      <app-type-link-graph-container [member]="schemaMember"-->
      <!--                                     *ngIf="chartDisplayMode === 'links'"></app-type-link-graph-container>-->
    </div>
    <div class="chart-container" *ngIf="chartDisplayTabIndex === 1 && (config$ | async)?.featureToggles.serviceLineageDiagramsEnabled">
      <p class="help-text">This chart shows how {{type.name.shortDisplayName}} data flows between data sources and
        systems.</p>
      <p class='help-text'>{{type.name.shortDisplayName}} flows between these services outside of {{UiCustomisations.productName}}.</p>
      <app-service-lineage-graph-container [type]="type"></app-service-lineage-graph-container>
    </div>
  </section>

  <!--    <section *ngIf="showPolicyManager">-->
  <!--      <h2>Policies</h2>-->
  <!--      <app-policy-manager-container [targetType]="type"></app-policy-manager-container>-->

  <!--    </section>-->

  <section *ngIf="showTaxi">
    <div class="definition-header">
      <h2>Definition</h2>
      <app-save-with-filename [source]="type.sources?.[0]" [showSaveButton]="false"></app-save-with-filename>
    </div>
    <app-code-viewer [sources]="sources"></app-code-viewer>
<!--    <app-simple-code-viewer name="Taxi" [content]="sourceTaxi" lang="taxi" [expanded]="true"></app-simple-code-viewer>-->
    <!--      <app-code-viewer [sources]="sources"></app-code-viewer>-->
  </section>
</div>

