@import "src/common";
@import "src/toolbar";
@import "src/typography";

::ng-deep markdown {
  pre {
    max-height: 10rem;
  }
}

app-schema-diagram, app-service-lineage-graph-container {
  height: 600px;
}

.types-row {
  display: flex;
  align-items: center;

  app-inherits-from {
    margin-top: 0;
    margin-left: 0.75rem;
  }
}

.full-type-names-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  span {
    font-size: 0.85rem;
    margin-right: 1rem;
  }
}

.spacer {
  flex-grow: 1;
}

.spacer-gap {
  width: 4rem;
}
// Deprecated, use page-heading
.type-name {
  @extend .page-heading
}

app-type-link-graph-container {
  display: block;
  width: 100%;
}

// section tags that don't contain an h2 heading need
// a little etra padding to look good
section.no-h2 {
  margin-top: 1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
mat-button-toggle-group {
  margin-bottom: 1rem;
 }

.last-edited {
  color: gray;
}

app-code-viewer {
  height: 10rem;
  border-radius: 6px;
  border: 1px solid $slate-200;
}

h1 {
  display: flex;
  margin-top: 0;

  .badge {
    @extend %type-badge;
  }
}

.definition-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 1rem 0;

  h2 {
    margin: 0;
  }
}
