@import "src/common";
@import "src/utils";

:host ::ng-deep {
  tui-scrollbar {
    border-top-width: 0.25rem !important;
  }
}

.is-editable {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid $gray-200;
  border-radius: 4px;
  height: 100%;

  &:hover {
    border-color: $gray-400;
  }
}

.no-description {
  font-style: italic;
  opacity: 0.5;
}

.button-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 1rem;
  }
}

.visible-on-changes {
  transition:all linear 0.3s;
  opacity: 0;
  &.has-changes {
    opacity: 1;
  }
}

.info-warning {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
  img {
    width: 1.4rem;
  }
  span {
    margin-left: 0.5rem;
  }
}

::ng-deep {
  markdown > p {
    // TODO : I suspect this will look naff when there are multiple paragraphs
    margin: 0;
  }
}

.title-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  h4 {
    margin-bottom: 0;
  }
}

.spacer {
  flex-grow: 1;
}
