@import "src/common";

:host {
  height: 100%;
}

.tree-icon {
  width: 24px;
  margin-right: 2px;
  opacity: 0.8;
}

.tree-package-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 16px;
  }
  span {
    display: flex;
    align-items: center;
  }
}

router-outlet + .no-route-selected {
  display: block;
  margin: 1rem 2rem;
}

.no-route-selected {
  display: none;
}


tui-tree-item {
  padding-top: 0.25rem;
  font-size: 0.9rem;
  white-space: nowrap;

  &.show-tree-decoration {
    // The rest of this is the styling for the hierarchy decoration of the nodes
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -0.76rem;
    }

    &:before {
      width: 0.8rem;
      height: 0;
      top: 1.15rem;
      border-bottom: 1px solid $gray-300;
    }

    &:not(._expandable){
      &:before {
        width: 2rem;
      }
    }

    &:after {
      top: -0.3rem;
      height: 100%;
      width: 0;
      border-left: 1px solid $gray-300;
    }

    &:last-child::after {
      height: 1.45rem;
    }
  }
}

.is-navigable {
  border-radius: 4px;
  width: 100%;
  padding: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  gap: 2px;

  &:hover {
    background-color: $gray-100;
    color: $sky-700;
    cursor: pointer;
  }

  &.active,
  &.active:hover {
    background-color: $gray-200;
    color: $sky-800;
    font-weight: bold;
    cursor: default;
  }
}

.connection-name {
  font-size: 1rem;
}


.tree-item-label {
  display: flex;
  align-items: center;
}
