@import '@taiga-ui/core/styles/taiga-ui-local.scss';

:host {
  overflow: hidden;
  margin: 0 2rem;
}

.intro-text {
  margin-top: 0;
}

.island-container {
  display: grid;
  gap: 1rem;

  @media #{$tui-desktop-min} {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  @media #{$tui-desktop-interval} {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  tui-island {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tui-island__paragraph_button {
      text-align: center;
    }
  }
}

.icon {
  float: right;
  opacity: 0.5;

  ::ng-deep img {
    filter: invert(41%) sepia(0%) saturate(405%) hue-rotate(134deg) brightness(92%) contrast(83%);
  }
}

.project-added {
  margin-bottom: 2rem;

  h3 {
    margin-right: 1rem;
  }

  .next-step {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
