<ng-container *ngIf="step !== 'projectAdded' && !hasAddedProject && isOnboardingMode; else hasAddedTemplate">
  <h3 class="intro-text">Projects are where you define your data sources, and hold your API specs.</h3>
  <p>You currently have {{ projectCount | i18nPlural: projectCountPluralMap }}, you can add a new project via the
    {{ uiConfig.productName }} interface (where you are now) or via a microservice.</p>
  <p>So what’s it gonna be? </p>
</ng-container>
<ng-template #hasAddedTemplate>
  <div *ngIf="isOnboardingMode" class="project-added">
    <h3 class="intro-text">Great! Now that you've added a project, continue on to create a data source for it</h3>
    <p class="next-step">
      (or feel free to hang around and create another project, now that you're a pro at that)
      <button tuiButton size="m" [routerLink]="['/onboarding/data-source']">Next step</button>
    </p>
  </div>
</ng-template>
<app-project-list
  #projectList
  *ngIf="isOnboardingMode"
  [isListOpen]="step === 'projectAdded'"
  (projectCountUpdated)="projectCount = $event"
></app-project-list>

<!--Options-->
<h3 *ngIf="step === 'options' || step === 'projectAdded'">Add new</h3>
<div class="island-container tui-space_top-4 tui-space_bottom-8" *ngIf="step === 'options' || step === 'projectAdded'">
  <tui-island>
    <div>
      <img src="assets/img/tabler/folder-plus.svg" class="icon">
      <h3 class="tui-island__title">Create new project</h3>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconEnd="@tui.plus" (click)="step = 'createNew'">Add</button>
    </p>
  </tui-island>
</div>

<h3 *ngIf="step === 'options' || step === 'projectAdded'">Use existing</h3>
<div class="island-container tui-space_top-4" *ngIf="step === 'options' || step === 'projectAdded'">
  <tui-island>
    <div>
      <img src="assets/img/tabler/brand-git.svg" class="icon">
      <h3 class="tui-island__title">Git Repository</h3>
      <p class="tui-island__paragraph">
        Connect {{ uiConfig.productName }} to a Git repository to add individual OpenAPI schemas, or entire Taxi projects.
      </p>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconEnd="@tui.plus" (click)="step = 'gitRepo'">Add</button>
    </p>
  </tui-island>
  <tui-island>
    <div>
      <img src="assets/img/tabler/server.svg" class="icon">
      <h3 class="tui-island__title">Disk projects</h3>
      <p class="tui-island__paragraph">Add projects already on your server, or upload new projects</p>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconEnd="@tui.plus" (click)="step = 'localDisk'">Add</button>
    </p>
  </tui-island>
  <!--<tui-island>
    <div>
      <img src="assets/img/tabler/topology-star-3.svg" class="icon">
      <h3 class="tui-island__title">Microservice</h3>
      <p class="tui-island__paragraph">Need a description (and action) for this...</p>
    </div>
    <p class="tui-island__paragraph tui-island__paragraph_button">
      <button tuiButton appearance="whiteblock" size="m" iconRight="@tui.plus" (click)="step = 'microService'">Add</button>
    </p>
  </tui-island>-->
</div>


<!--Create new project-->
<tui-island class="tui-space_top-4" *ngIf="step === 'createNew'">
  <div>
    <img src="assets/img/tabler/folder-plus.svg" class="icon">
    <h3 class="tui-island__title">Create new project</h3>
    <app-create-new-config
      [isOnboardingMode]="isOnboardingMode"
      (newProjectCreated)="step = 'projectAdded'; hasAddedProject = true"
      (goBackOnboarding)="step = 'options'">
    </app-create-new-config>
  </div>
</tui-island>

<!--Git Repo-->
<tui-island class="tui-space_top-4" *ngIf="step === 'gitRepo'">
  <div>
    <img src="assets/img/tabler/brand-git.svg" class="icon">
    <h3 class="tui-island__title">Git Repository</h3>
    <app-git-config
      [isOnboardingMode]="isOnboardingMode"
      (gitRepoAdded)="step = 'projectAdded'; hasAddedProject = true"
      (goBackOnboarding)="step = 'options'"
    >
    </app-git-config>
  </div>
</tui-island>

<!--Upload-->
<tui-island class="tui-space_top-4" *ngIf="step === 'upload'">
  <div>
    <img src="assets/img/tabler/upload.svg" class="icon">
    <h3 class="tui-island__title">Upload a project</h3>
    <app-upload-config
      [isOnboardingMode]="isOnboardingMode"
      (projectUploaded)="step = 'projectAdded'; hasAddedProject = true"
      (goBackOnboarding)="step = 'options'"
    >
    </app-upload-config>
  </div>
</tui-island>

<!--Local disk-->
<tui-island class="tui-space_top-4" *ngIf="step === 'localDisk'">
  <div>
    <img src="assets/img/tabler/server.svg" class="icon">
    <h3 class="tui-island__title">Read from disk</h3>
    <app-file-config
      [isOnboardingMode]="isOnboardingMode"
      (localFileAdded)="step = 'projectAdded'; hasAddedProject = true"
      (goBackOnboarding)="step = 'options'">

    </app-file-config>
  </div>
</tui-island>

<!--Microservice-->
<!--<tui-island class="tui-space_top-4" *ngIf="step === 'microService'">
  <div class="tui-space_bottom-2">
    <img src="assets/img/tabler/topology-star-3.svg" class="icon">
    <h3 class="tui-island__title">Microservice</h3>
    <p class="tui-island__content ">What to put in here???</p>
  </div>
  <button
    appearance="flat"
    size="m"
    tuiButton
    type="button"
    class="tui-island__footer-button"
    (click)="step = 'options'"
  >
    Cancel
  </button>
</tui-island>-->

