@import "src/common";
@import "src/toolbar";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-height-sidebar {
  // Make the rhs content sidebar full-height
  height: 100% !important;
}

mat-sidenav-container {
  flex-grow: 1;
}

.content {
  display: flex;
  height: 10px;
  flex-grow: 1;
  flex-direction: column;
  margin: 2rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-csv-viewer {
  min-height: 300px;
}

app-object-view-container {
  flex-grow: 1;
  margin: 1rem 0;
  min-height: 300px;
}

app-data-source-toolbar {
  display: block;
  margin-bottom: 2rem;
}

app-code-viewer {
  height: 100%;
  min-height: 300px;
}

.drawer-content {
  margin: 2rem 3rem;
  width: min-content;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group {
  flex-grow: 1;
  margin-top: 1rem;
}

td-highlight {
  padding: 0;
  background-color: $code-background;
}

::ng-deep code.highlight {
  padding: 1rem;
}

::ng-deep .mat-drawer-content {
  // Was getting unnessary horizontal scrollbars in the drawer area.
  overflow-x: hidden;
}

.result-status {
  display: flex;
  align-items: center;

  i {
    margin-right: 8px;
  }

  padding: 1rem;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  margin-bottom: 2rem;
  border-radius: 4px;
}

.unsuccessful-search {
  background-color: #ffcf34;
}

.error-display {
  background-color: $red-light;
  color: white;
}

.mat-drawer.mat-drawer-end {
  height: fit-content;
}

.toolbar {
  margin-top: 1rem;
}
