:host ::ng-deep {
  .drop-container {
    padding: 1rem;
  }
}

:host ::ng-deep {
  .drop-container-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 2rem;
      margin-right: 1rem;
    }

    button {
      margin-left: 1rem;
    }
  }
}
