:host {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

span {
  margin-right: 2rem
}

.configure-icon {
  width: 24px;
}

.configure-button {
  width: fit-content;
}

.clear-icon {
  width: 16px;
}

.config-menu {
  mat-form-field {
    width: 100%;
  }
  padding: 1rem;
}

.add-column-name-text-field{
  width: 100%;
}
.column-name-input-form{
  margin-top:1vh
}
