@import "src/common";

:host {
  padding: 0.5rem;
  border: 1px solid $slate-200;
  border-radius: 8px;
  --label-font-size: 0.9rem;
  --value-font-size: 1.3rem;

  &.size-l {
    --label-font-size: 1rem;
    --value-font-size: 2.3rem;
  }

  &.status-success {
    border-color: $success-dark;
  }

  &.status-warning {
    border-color: $warning-dark;
  }

  &.status-error {
    border-color: $error-dark;
  }
}

.stat-label {
  font-size: var(--label-font-size);
  color: lighten($body, 5);
  margin-bottom: 0.4rem;
}

.stat-value {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: var(--value-font-size);
  font-weight: bold;
}
