@import "../../data-source-import/data-source-panel/config-panels/config-panels";


.test-result-box {
  margin-top: 1rem;
  border: 1px solid rgba($error-dark, 0.6);
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba($error-light, 0.1);
  color: $error-dark;
  font-size: 0.9rem;
}
.error-message {
  border-color: rgba($error-dark, 0.6);
  background-color: rgba($error-light, 0.1);
  color: $error-dark;
}

.success-message {
  border-color: rgba($success-dark, 0.6);
  background-color: rgba($success-light, 0.1);
  color: $success-dark;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}
