@import "src/common";
h4 {
  text-transform: unset;
}

:host {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.query-code {
  font-family: $mono;
  font-size: 0.8rem;
}


.stats {
  font-size: 0.8rem;
  margin-top: 0.5rem;

  span {
    margin-right: 1.5rem;
    display: block;
    color: $slate-600;
  }

}

:host {
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}
