@import "src/common";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-header-component-layout {
  height: 100%;
}

app-schema-code-preview {
  flex-grow: 1;
}
