::ng-deep .mat-expansion-panel-header-title {
  align-items: center;
}

::ng-deep .mat-expansion-panel-header-description {
  flex-direction: column;

  button {
    align-self: flex-end;
  }
}

app-tabbed-results-view {
  height: 300px;
  display: block;
}

