@import "src/common";

:host {
  background: $whiteish;
}

.history-item {
  min-height: 80px;
  cursor: pointer;
  padding: 10px 20px;
  background: inherit;
  outline: inherit;
  display: flex;
  flex-direction: column;



  code {
    flex-grow: 1;
  }
}

.icon-button {
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }
}

.record-stats {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.3rem;

  .record-stat {
    color: $dark-grey-1;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-right: 1rem;

    img {
      opacity: 0.7;
      width: 18px;
      height: 18px;
      margin-right: 0.5rem;
    }

    :first-child & {
      min-width: 60px;
    }
  }
}

.progress-container {
  margin-top: 1rem;
}

.spacer {
  flex-grow: 1;
}

.timestamp-row {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  width: 100%;
  align-items: center;
  font-size: 0.8rem;
  color: $dark-grey-1;

  span {
    flex-grow: 1;
  }
}
