<app-panel-header title="Query History"/>
<div class="container">
  <app-query-list [historyRecords]="history$ | async"
                  [activeQueries]="activeQueries"
                  (cancelActiveQuery)="cancelActiveQuery($event); sidePanelVisible = false;"
                  (recordSelected)="sidePanelVisible = false;"
  ></app-query-list>
  <as-split direction="horizontal" unit="percent">
    <as-split-area>
      <progress
        max="100"
        tuiProgressBar
        size='xs'
        new
        *ngIf='isQueryLoading$ | async'
      ></progress>
      <app-tabbed-results-view *ngIf="activeRecordResults$"
                               [profileData$]="activeQueryProfileData$"
                               [instances$]="activeRecordResults$"
                               [type]="activeRecordResultType"
                               [onlyShowResultsViewMode]="true"
                               (downloadClicked)="downloadQueryHistory($event)"
                               (instanceSelected)="sidePanelVisible = true; instanceSelected$.next($event)"></app-tabbed-results-view>
    </as-split-area>
    <as-split-area *ngIf="sidePanelVisible" size="25">
      <app-typed-instance-panel-container
        (close)="sidePanelVisible = false;"
        [queryResultSelectedEvent$]="instanceSelected$"
      ></app-typed-instance-panel-container>
    </as-split-area>
  </as-split>

  <!--  <div class="results-section" *ngIf="config && !config.analytics.persistResults">-->
  <!--    <h2>-->
  <!--      Display of query results and profile data is disabled.-->
  <!--    </h2>-->
  <!--    <p>-->
  <!--      To display historical results and profile information, Vyne needs to store relevant data during query execution.-->
  <!--      Currently this is-->
  <!--      disabled.-->
  <!--    </p>-->
  <!--    <p>-->
  <!--      To enable, modify the-->
  <!--      <code>vyne.history.persistResults</code> setting in your server config, setting to true.-->
  <!--    </p>-->
  <!--    <p>Once this is done, you'll need to re-start Vyne and re-run your query.</p>-->
  <!--  </div>-->

</div>
