@import "src/common";

.title-bar {
  background-color: $light-purple-grey;
  display: flex;
  h4 {
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  button {
    width: unset !important;
    height: unset !important;
    line-height: unset !important;
  }
  padding: 10px;
}

::ng-deep .mat-drawer-content {
  // Was getting unnessary horizontal scrollbars in the drawer area.
  overflow-x: hidden;
}

mat-sidenav-container {
  height: 10px;
  flex-grow: 1;
}

.actions-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-tabbed-results-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  display: flex;
  flex-grow: 1;
  height: 10px;

  .results-section {
    flex-grow: 1;
    margin: 10px;
    // Not really sure why I have to set this.
    // If a width isn't set here, then the children seem unconstrained and grow forever.
    // If the width is too high, then flex-grow seems to have no effect.
    // Setting a small width seems to get overridden by flex-grow, taking up the remaining space.
    width: 10px;
  }
}

.drawer-content {
  margin: 2rem 3rem;
  width: 40vw;
}

progress {
  position: absolute;
  width: calc(100% - 400px);
}
