@import "src/common";
@import "call-explorer.component";

:host {
  padding: 0 1rem;
}
app-error-message {
  display: block;
  margin: 1rem 0;
}

.header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  h3 {
    flex-grow: 1;
    margin: 0 0 0.5rem;
  }

}

tui-tabs {
  flex-shrink: 0;
}

.summary-container {
  margin: 1rem 0;

  .name-and-status {
    display: flex;
    align-items: center;
  }
}

.verb {
  background-color: #5160ff;
  color: $whiteish;
}

.address {
  font-family: $mono;
  font-size: 0.8rem;
}

.summary-container {
  //div {
  //  margin-bottom: 15px;
  //}
}



.row {
  margin-bottom: 1rem;
}

