@import "src/common";

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: solid 1px $gray-200;
  font-family: $font-sans-alt;
  text-align: left;
}
td {
  border: none;
  border-bottom: solid 1px $gray-200;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

tr:nth-child(even) {
  background-color: $gray-50;
}

@include links();
