<tui-accordion >
  <tui-accordion-item size="s" [(open)]="isListOpen">
    Current Projects ({{(packages$ | async)?.length}})
    <table tuiAccordionItemContent class="tui-table">
      <tbody>
      <tr class="tui-table__tr tui-table__tr_hover_disabled">
        <th class="tui-table__th tui-table__th_first">Name</th>
        <th class="tui-table__th">Version</th>
        <th class="tui-table__th">Organisation</th>
        <th class="tui-table__th">Status</th>
        <th class="tui-table__th tui-table__th_last">Source</th>
      </tr>
      <tr *ngFor="let sourcePackage of packages$ | async" class="tui-table__tr tui-table__tr_border_top tui-table__tr_border_none tui-table__tr_hover_disabled">
        <td class="tui-table__td tui-table__td_first name">{{ sourcePackage.identifier.name }}</td>
        <td class="tui-table__td">{{sourcePackage.identifier.version}}</td>
        <td class="tui-table__td">{{sourcePackage.identifier.organisation}}</td>
        <td class="tui-table__td"><span [ngClass]="sourcePackage.health.status">{{sourcePackage.health.status}}</span></td>
        <td class="tui-table__td tui-table__td_last icon-bar">
          <img [src]="getSourceIcon(sourcePackage)">
          <span class="small">{{getSourceDescription(sourcePackage)}}</span>
          <span class="is-editable" *ngIf="sourcePackage.editable">
            <img src="assets/img/tabler/lock-open.svg">
            <span class="small">Editable</span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </tui-accordion-item>
</tui-accordion>
