@import "src/common";

.row {
  display: flex;
  align-items: center;
}
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
mat-radio-group {
  display: flex;
  align-items: center;
}
.schema-selector-container {
  app-code-editor {
    display: block;
    height: 20rem;
    margin-top: 1rem;
  }
  app-type-autocomplete {
    width: 35rem;
  }
  .title {
    margin-right: 2rem;
  }
  background-color: white;
  padding: 1.5rem;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

mat-radio-button, mat-form-field, mat-checkbox  {
  margin-right: 1rem;
}

.spacer {
  flex-grow: 1;
}

.error-message-box {
  margin: 1rem 0;
}
