:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-policy-code-editor-panel,
app-policy-query-editor-panel {
  height: 100%;
}

app-panel-header {
  justify-content: space-between;
}
