@import "src/common";
@import "src/tables";
@import "src/toolbar";
@import "src/app/service-view/service-view-common-styles";

.row {
  display: flex;
  margin-bottom: 1rem;
  span {
    font-size: 0.85rem;
    margin-right: 1rem;
  }
}

.parameter-list {
  @include vyne-table()
}

.button-row {
  margin-top: 2rem;
  display: flex;
}

.http-method {
  margin-right: 1rem;
}

.http-box {
  border: 1px solid rgba($vyne-lilac, 0.15);
  box-sizing: content-box;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 4px;
}

/*input {
  border-radius: 4px;
  background-color: rgba(white, 0.5);
  border: 1px solid rgba($vyne-lilac, 0.35);;
  padding: 0.7rem;
}*/

.spacer {
  margin-right: 2rem;
}

.badges {
  .separator-slash {
    margin: 0 0.5rem;
  }
}

.documentation {
  display: flex;
  flex-direction: column;
}

app-object-view-container {
  flex-grow: 1;
  margin-top: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  display: flex;
  margin-top: 0;

  .badge {
    @extend %type-badge;
  }
}

.returns-container {
  display: flex;
  align-items: center;
  margin-left: 1px;

  .type-name-container {
    display: flex;
    padding: 2px;
    gap: 0.25rem;
    cursor: pointer;
    border-radius: 4px;

    img {
      opacity: 0.35;
    }

    &:hover {
      outline: 1px solid $gray-400;

      img {
        opacity: 0.75;
      }
    }
  }

  .mono-badge {
    margin-top: 0;
    font-size: 0.8rem !important;
  }
}

.param-name {
  color: $body;
  font-family: $mono;
  font-size: 0.9rem;
}


