@import "src/common";
@import "src/toolbar";
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

app-filter-types {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $borer-light;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba($body, 0.6);
  font-family: $font-sans;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba($body, 0.6);
  font-family: $font-sans;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba($body, 0.6);
  font-family: $font-sans;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba($body, 0.6);
  font-family: $font-sans;
}

.search-bar {
  *:focus {
    outline: none;
  }

  margin-left: 100px;
  //width: 40rem;
  input {
    color: $body;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid rgba($dark-grey-3, 0.2);
    padding: 6px 12px;
    border-radius: 6px;
    width: 40rem;

    &:hover {
      border: 1px solid rgba($dark-grey-3, 0.5);
    }

    &:focus {
      border: 1px solid rgba($dark-grey-3, 0.8);
    }
  }
}

.search-result {
  padding: 8px;
  margin: 0 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  &:hover {
    background-color: white;
    border: 1px solid $vyne-lilac;


    border-radius: 4px;
    cursor: pointer;
  }
}

.schema-member-container {
  display: inline-table;

  .member-name {
    display: flex;
    margin-bottom: 4px;

    .member-type-badge {
      @extend %type-badge;
      font-size: 0.7rem;
    }
  }

  .member-type {
    vertical-align: middle;
    display: table-cell;
    width: 20rem;

    div {
      width: fit-content;
      font-size: 0.7rem;
      padding: 5px 10px;
      border-radius: 15px;

      &.type {
        background-color: #afdfff;
      }

      &.operation {
        background-color: #5D38DB;
        color: #fafafa;
      }
    }
  }

  .member-qualified-name {
    display: table-cell;
    vertical-align: middle;
    width: 40rem;
  }

  .member-type-alias {
    vertical-align: middle;
    display: table-cell;

    font-family: $mono;
    font-size: 0.8rem;
    color: $blue-grey-3
  }
}

.empty-state {
  text-align: center;
  width: 500px;
  font-size: 1.4rem;
  opacity: 0.5;
  margin: auto;

  img {
    width: 256px;
    opacity: 0.4;
  }
}

.typedoc-row {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 700px; // An arbitary number because spanning forever looked poo. A better strategy is clearly needed
  margin-top: 0.5rem;

  .summary {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

// https://stackoverflow.com/a/54890012
// Make the virtual scroll element size 100% vertically
.cdk-viewport-list {
  flex-grow: 1;
}
