@import "src/common";
@import "../../search/seach-result/search-result.component";

.search-result {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid rgba(0,0,0,0);
  border-bottom: 1px solid rgba($vyne-lilac, 0.2);
  cursor: pointer;

  &.active, &:hover {
    background-color: rgba($vyne-lilac, 0.1);
    border: 1px solid rgba($vyne-lilac, 0.5);
    border-radius: 4px;
  }
}

.type-name {
  font-size: 120%;
  line-height: 1.5;
}

