@import "src/common";

::ng-deep {
  tui-wrapper[data-appearance='textfield'] {
    box-shadow: none;
    border-radius: 0;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 10px;
  overflow: auto;
  flex-grow: 1;
  gap: 1rem
}

.results-panel {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  overflow: auto;
  gap: 1rem;

  .results-list {
    overflow: auto;
    border-right: 1px solid rgba($vyne-lilac, 0.3);
  }

  .documentation-panel {
    overflow: auto;
    position: relative;
  }
}

tui-input.working {
  // Hide the search icon in the left of the text bar when searching, as we replace it with a spinner
  ::ng-deep {
    .icon {
      opacity: 0;
    }
  }
}

.search-bar {
  position: relative;

  mat-progress-spinner {
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    right: 16px;

    &.has-search-term {
      right: 50px;
    }
  }
}

.no-results {
  margin-left: 1rem;
}

.text-search-loader,
.docs-loader {
  position: absolute;
  width: 100%
}

.text-search-loader {
  bottom: 0;
}

.docs-loader {
  top: 0
}
