@import "../model-designer.component";
// For the copy button styles
@import "../../query-panel/query-editor/shared";

:host {
  display: flex;
  flex-direction: column;

  &.is-disabled {
    *:not(tui-notification) {
      opacity: 0.35;
      pointer-events: none;
    }
  }
}

app-code-editor {
  flex-grow: 1;
}

.spacer {
  flex-grow: 1;
}

.type-input {
  width: 20rem;
}

.onboarding-text {
  @extend %onboarding-text;
}
