<app-card
  *ngIf="queries$ | async as queries"
  title="Endpoints"
  titleLink="/endpoints"
  [description]="queries.length ? 'Select an endpoint and time range' : 'Metrics for endpoints will be shown here.'"
  icon="/assets/img/tabler/broadcast.svg"
>
  <div *ngIf="!queries.length" class="endpoint-onboarding">
    First, create a query in the <a class="link" routerLink="query/editor">query editor</a>, then publish it as an endpoint. Learn more about publishing queries in our <a class="link" [href]="UiCustomisations.docsLinks.publishQueriesAsEndpoints" target="_blank">docs</a>.
  </div>
  <app-endpoint-monitor
    *ngIf="queries.length"
    [onlyShowControlsInHeader]="true"
    [endpointName$]="selectedEndpoint$"
  >
    <ng-container ngProjectAs="header-controls">
      <tui-select class="query-select"
                  tuiTextfieldSize="s"
                  [tuiTextfieldLabelOutside]="true"
                  [stringify]="stringifyQuery"
                  [ngModel]="selectedQuery$ | async"
                  (ngModelChange)="selectedQuery$.next($event)"
      >
        Queries
        <input
          placeholder="Queries"
          tuiTextfieldLegacy
        />
        <tui-data-list *tuiDataList>
          <button class="small" *ngFor="let query of queries" tuiOption
                  [value]="query">{{ query.label }}
          </button>
        </tui-data-list>
      </tui-select>
    </ng-container>
  </app-endpoint-monitor>
</app-card>
