@import "src/common";

:host {
  background-color: $code-viewer-tooling-background;
  display: flex;
  grid-template-columns: 38% 62%;

  &.flex-grid {
    //display: grid; // flex doesn't allow the Monaco editor to size correctly horizontally, so using grid instead
    min-height: 0;
  }

  .as-split-area {
    overflow-x: auto;
  }
}

.file-list {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 0.9rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.file-list-entry {
  display: flex;
  align-items: center;
  //color: $dark-list-item;
  padding: 0.5rem 0.5rem;

  img {
    width: 16px;
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: darken($code-background, 20);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
  }

  .file-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .version {
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    width: fit-content;
    font-size: 0.6rem;
  }

  .error-count {
    background-color: rgba($red-light, 0.5);
    color: $purple-white;
    display: block;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    margin-right: 0.6rem;
    font-size: 0.6rem;
  }
}

.highlight-container {
  background-color: $code-background;
}

.code-viewer-container {
  margin-top: 0.5rem;
  width: 100%;
  height: calc(100% - 0.5rem);
}
.code-editor {
  width: 100%;
  height: 100%;
}

app-compilation-message-list {
  border-top: 1px solid $slate-200;
}
