<as-split direction="horizontal" unit="pixel">
  <as-split-area order="0" size="250" *ngIf="displaySidebar">
    <app-file-tree [files]="fileTreeNodes" (itemClicked)="select($event)"
                   [selectedFilename]="selectedSource?.source?.name"
    ></app-file-tree>
  </as-split-area>
  <as-split-area size="*" order="1">
    <div class="code-viewer-container">
      <as-split direction="vertical" unit="pixel" useTransition="true" (dragEnd)="onDragEnd($event)">
        <as-split-area size="*">
          <app-code-editor class="code-editor"
                           [content]="sourceContent"
                           [showCompilationProblemsPanel]="false"
                           [compilationMessages]="selectedSource?.errors"
                           [readOnly]="true"
          ></app-code-editor>
        </as-split-area>
        <as-split-area [visible]="errors?.length > 0" [size]="errorPanelSize" minSize="42">
          <app-compilation-message-list [compilationMessages]="errors"
                                        (messageClicked)="compilationMessageClicked($event)"
                                        [(expanded)]="compilationProblemsPanelExpanded"
          ></app-compilation-message-list>
        </as-split-area>
      </as-split>
    </div>
  </as-split-area>
</as-split>

