@import "src/common";

:host::ng-deep {
  .t-children {
    margin-left: 0.75rem !important;
  }
}

tui-badge {
  &[data-apperance=warning] {
    //--left-content-color: #{$yellow-600};
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-wrap: nowrap;

  &.active,
  &.active:hover {
    color: $sky-800;
    background-color: $slate-50;
    font-weight: bold;
    cursor: default;

    button {
      font-weight: bold;
    }
  }

  &:hover {
    background-color: $slate-200;
    border-radius: 4px;
    cursor: pointer;

    button.tree-node {
      color: $sky-800;
      cursor: pointer;
    }
  }
}

.tree-node {
  &.has-error {
    text-decoration: underline wavy $red-700;
    text-decoration-thickness: 1px;
  }

  &.has-warning {
    text-decoration: underline wavy $yellow-400;
    text-decoration-thickness: 1px;
  }
}

tui-tree {
  font-size: 0.9rem;
}
//tui-svg {
//  width: 0.9rem;
//}

button.tree-node {
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
