@import "src/common";

.error-message {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba($vyne-lilac, 0.4);
  border-left: 3px solid $bg-error;
  padding: 1rem;

  display: flex;
  align-items: center;

  mat-icon {
    color: $bg-error;
    margin-right: 2rem;
  }
}
