<div class="collapse-icon" (click)="isCollapsed = !isCollapsed" [class.is-collapsed]="isCollapsed" [title]="isCollapsed ? 'expand sidenav' : 'collapse sidenav'">
  <img src="/assets/img/tabler/chevrons-left.svg">
</div>
<div class="side-nav-container" [class.is-collapsed]="isCollapsed">
  <div class="sidenav-top">
    <div *ngFor="let element of sidebarElements$ | async" class="navbar-item" [routerLink]="element.route"
         routerLinkActive="active">
      <a [routerLink]="element.route" routerLinkActive="active" #rla="routerLinkActive"
         [attr.data-e2e-id]="element.testId" *ngIf="element.route"
         [tuiHintShowDelay]="100" [tuiHintHideDelay]="50" [tuiHint]="isCollapsed && tooltip" tuiHintAppearance="dark"
         tuiHintDirection="right"
      >
        <tui-icon  [icon]="element.icon" class="icon"></tui-icon>
        <span class="label">{{ element.title }}</span>
      </a>
      <a [href]="element.externalUrl" target="_blank"
         [attr.data-e2e-id]="element.testId" *ngIf="element.externalUrl"
         [tuiHintShowDelay]="100" [tuiHintHideDelay]="50" [tuiHint]="isCollapsed && tooltip" tuiHintAppearance="dark"
         tuiHintDirection="right"
      >
        <tui-icon  [icon]="element.icon" class="icon"></tui-icon>
        <span class="label">{{ element.title }}</span>
      </a>
      <ng-template #tooltip>
        <div>{{ element.title }}</div>
      </ng-template>
    </div>
  </div>
  <div class="sidenav-bottom">
    <ng-container *ngIf="(userInfo$ | async) as userInfo">
      <div *ngIf="userInfo.username && userInfo.username !== 'Anonymous'" class="navbar-item">
        <a>
          <app-avatar data-testid="user-info-dropdown" [user]="userInfo"></app-avatar>
        </a>
      </div>
    </ng-container>
    <div class="app-info" *ngIf="appInfo" [class.is-collapsed]="isCollapsed"
         [tuiHintShowDelay]="100" [tuiHintHideDelay]="50" [tuiHint]="isCollapsed && appInfoHint" tuiHintAppearance="dark">
      <ng-container *ngTemplateOutlet="appInfoHint"></ng-container>
      <ng-template #appInfoHint>
        v{{
          appInfo?.build?.baseVersion && appInfo?.build?.buildNumber !== '0' && appInfo?.build?.version?.includes('SNAPSHOT') ?
            appInfo.build.baseVersion + "-BETA-" + appInfo.build.buildNumber :
            appInfo?.build?.version
        }}
        ({{ appInfo?.git?.commit?.id }})
      </ng-template>
    </div>
  </div>
</div>
