@import "src/common";

:host {
  position: relative;
  background-color: var(--navbar-bg-color);
  border-right: 1px solid $slate-300;
  z-index: 1;
}

.side-nav-container {
  width: $sidenav-width;
  height: 100%;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: width 250ms ease-in-out;

  &.is-collapsed {
    width: $sidenav-width-collapsed;

    .label {
      opacity: 0;
    }
  }
}

.navbar-item {
  font-family: $headings-font;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;

  a {
    text-decoration: none;
    text-align: center;
    padding: 0.6rem;
    margin: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

    color: var(--navbar-text-color);
    transition: all ease-in-out 200ms;

    &:hover {
      color: var(--navbar-text-color-hover);
      background-color: var(--navbar-bg-color-hover);
    }

    &.active {
      transition: all ease-out 100ms;
      color: var(--navbar-text-color-active);
      background-color: var(--navbar-bg-color-active);
    }

    .icon {
      margin-right: 1rem;
    }

    .label {
      flex-grow: 1;
      text-align: left;
      transition: opacity 250ms ease-out;
    }
  }

  // If there's ever more than 15 nav-items, this number will need to be increased
  @for $i from 1 through 15 {
    &:nth-child(#{$i}n) {
      a .label {
        transition-delay: #{$i * 0.023}s;
      }
    }
  }
}

.app-info {
  font-family: $headings-font;
  font-size: 0.8rem;
  color: var(--navbar-text-color);
  opacity: 0.75;
  margin: 1rem 0 1rem 1.3rem;
  white-space: nowrap;
  position: relative;
  width: 100%;

  // gives a little gradient fade to the version info
  &.is-collapsed:after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(var(--navbar-bg-color-rgb), 0), var(--navbar-bg-color) 100%);
    width: 25px;
    height: 20px;
    right: 20px;
  }
}

.collapse-icon {
  position: absolute;
  bottom: 13px;
  right: -12px;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: var(--navbar-bg-color);
  cursor: pointer;
  transition: transform 250ms ease-in 150ms, outline 150ms ease-in-out, background 150ms ease-in-out;
  z-index: 2;
  outline: 1px solid $slate-300;

  img {
    @extend .filter-black-ish;
    opacity: 0.65;
    transition: opacity 150ms ease-in-out;
  }

  &:hover {
    outline: 1px solid var(--navbar-text-color);
    background: var(--navbar-bg-color-hover);

    img {
      opacity: 1;
    }
  }

  &.is-collapsed {
    transform: rotate(180deg);
  }
}
