@import "src/common";
@import "src/tables";

.token-list {
  @include vyne-table();
  width: 100%;
  margin-top: 1rem;

  td {
    padding: 0.25rem;
    button {
      margin-right: 1rem;
    }
  }
}

