@import "src/common";
@import "src/forms";

.row {
  display: flex;
  align-items: center;
  .spacer {
    flex-grow: 1;
  }
}

tui-notification {

  margin-bottom: 1rem;
}

.form-container {
  margin-top: 1rem;
}

.form-row {
  margin-bottom: 2rem;
}

.flex-grow {
  flex-grow: 1;
}
