@import "src/common";

:host {
  border-bottom: 1px solid $slate-200;
  padding: 0.75rem 0.625rem;
  line-height: 1.6rem;
}

.plan-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  h3 {
    margin: 0;
  }

  .right-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.limits {
  background: $slate-100;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  margin-bottom: 0.75rem;
  display: grid;
  grid-template-columns: min-content auto;
  row-gap: 0.25rem;
  column-gap: 1rem;
}

.quota {
  .usage {
    font-weight: 600;
  }

  .healthy {
    color: $lime-600;
  }

  .warning {
    color: $warning-light;
  }

  .exceeded {
    color: $error-light;
  }

  .limit {
    color: $gray-600;
  }

  .inifity {
    font-size: 1.6rem;
    vertical-align: middle;
  }
}

.manage-button {
  width: 100%;
  margin-top: 1rem;
}
