@import "src/common";

:host {
  display: flex;
  flex-direction: column;
}

.panel-header {
  padding: 0 1rem;
  gap: 0;

  ::ng-deep h4 {
    margin-right: 1rem;
  }
}

.tab-mode-container {
  margin-right: 1rem;
}

.tab-icon {
  margin-right: 0.6rem;
  width: 24px;
  opacity: 0.5;
}

button {
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

tui-badge.error-count-badge {
  margin-left: 0.5rem;

  background-color: $error-light;
  font-weight: 800;
  font-size: 0.7rem;
  font-family: $headings-font; // nunito looks bad at this small size, use DM-Sans
}

tui-tabs,
tui-tabs-with-more {
  flex: auto;

  button {
    font-family: $headings-font;
    font-size: 0.9rem ;
  }

  // hide the border at the bottom
  box-shadow: none !important;
}

.results-container {
  height: 100%;
  // padding+box-sizing seemed to fix errant vertical scrollbars
  //padding: 1rem 0;
  box-sizing: border-box;
}

.results-object-view-list-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.empty-results {
  color: lighten($body, 10%);
  display: flex;
  width: 100%;
  margin: 2rem 1rem;
  align-items: center;
  background-color: $light-purple-grey-100;

  img {
    width: 48px;
    opacity: 0.5;
    margin-right: 2rem;
  }
}

.alert {
  margin: 0.5rem 1rem 0 2rem;
  align-items: center;

  &.query-plan {
    margin-bottom: 0.5rem;
  }
}

progress {
  position: absolute;
}

.rightside-controls-container {
  display: flex;

  .pause-stream-button {
    &.is-query-paused {
      animation: pulse 1s infinite ease-in-out;

      @keyframes pulse {
        0% {
          background: rgba($warning-dark, 0.25);
        }

        50% {
          background: rgba($warning-dark, 1);
        }

        100% {
          background: rgba($warning-dark, 0.25);
        }
      }
    }
  }
}

.download-dropdown {
  margin-left: 0.5rem;
  padding-left: 0.1rem;
  border: 1px solid $gray-200;
  border-radius: 0.25rem;
}

.download-menu-option {
  display: flex;
  align-items: center;

  button {
    flex: 1;
  }
}
