@import "src/common";
@import "src/tables";
@import "src/toolbar";
@import "./service-view-common-styles";

.operation-list {
  @include vyne-table()
}

app-description-editor-container {
  display: block;
  margin-bottom: 1rem;
}

app-save-with-filename {
  margin-top: 1rem;
}

app-service-lineage-graph-container {
  height: 600px;
}

h1 {
  display: flex;
  margin-top: 0;

  .badge {
    @extend %type-badge;
  }
}
