@import "../../../common";

:host {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spacer {
  flex-grow: 1;
}

.markdown-container {
  padding: 1rem;
  flex-grow: 1;
  overflow: auto;
}
app-simple-code-editor {
  flex-grow: 1;
  height: 100%;
}


