@import "src/common";

.container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: center;
}

.info {
  background-color: $bg-info;
}

.warning {
  background-color: $bg-warn;
}

.error {
  background-color: $bg-error;
}

.action-container {
  margin-left: 2rem;
}
