@import "src/common";
@import "object-view.common";

img.icon {
  width: 24px;
}
:host {
  height: 100%;
  overflow: auto;

  &.display-contents {
    display: contents;
  }
}

.display-wrapper {
  flex-grow: 1;
}

app-results-table, app-json-results-view {
  flex-grow: 1;
  height: 100%;
}

.toolbar {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  .type-name {
    font-size: 1rem;
    margin-right: 2rem;
  }
  .spacer {
    flex-grow: 1;
  }
}

