@import "src/common";
@import "src/tables";

:host {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.table {
  @include orbital-table($gray-100);
  @include links();
  font-size: 0.9rem;
  table-layout: fixed;
  width: 100%;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      + .copy-td .copyButton {
        opacity: 1;
      }
    }

    &.label-col {
      width: 70%;
    }

    &.copy-td {
      padding: 0 0.25rem 0 0;
      width: 24px;
    }
  }
}

section {
  margin-bottom: 2rem;
  .subheader {
    margin-bottom: 1rem;
    display: block;
  }
}
.header-text {
  display: flex;
  align-items: center;

  h2 {
    margin: 0.5rem 0 1rem 0;
  }
}

.copyButton {
  margin-top: -0.25rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;

  img {
    width: 16px;
  }

  &:hover {
    opacity: 1;
  }
}

tui-segmented {
  align-self: flex-start;
}
