@import "src/common";
@import "src/typography";

.changelog-entry {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid $borer-light;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.changelog-header {
  width: 25rem;

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.diff-list-container {
  flex: auto;
}

::ng-deep tui-hint {
  max-width: 4000px !important;
}
