@import "src/common";

app-git-config,
app-file-config {
  border-bottom: 1px solid $gray-200;
  display: block;
  margin-bottom: 1rem;
}

:host {
  margin-top: -1rem;
  padding: 1rem 2rem 2rem 1rem;
  overflow-y: auto;
}
