@import "src/common";
@import "src/toolbar";
:host {
  background-color: $body-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.empty-state {
  text-align: center;
  width: 500px;
  font-size: 1.4rem;
  opacity: 0.5;
  margin: auto;

  img {
    width: 256px;
    opacity: 0.4;
  }
}


.container {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 10px;
}

app-header-bar {
  button {
    margin-right: 1rem;
  }
}
