@import "src/common";

// These *should* be defined in the container.
// But it's actually dynamically linked via a route, and it looks like
// styles don't carry through.
// TODO : Could try with ng-deep, as per https://stackoverflow.com/a/52522285

:host {
  display: flex;
  flex-grow: 1;
  width: 10px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;
}

app-package-list {
  margin-right: 2rem;
}

:host(.orbital) {
  margin-left: 1rem;
  padding-top: 1rem;
  overflow: auto;
  width: 100%;
}

app-changelog-list {
  margin-top: 1rem;
  display: block;
}
