@import "src/common";
@import "src/toolbar";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;
  overflow: hidden;
}
:host(.vyne) {
  background-color: $body-bg;

}

:host(.orbital) {
  margin-top: 1rem;
}

.header-bar {
  margin-bottom: 1rem;
  display: flex;
}

app-code-viewer {
  width: 100%;
  // Use a fixed height, seems to make flex-grow work
  height: 10px;
  flex-grow: 1;
  border: 1px solid rgba($vyne-lilac, 0.4);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.tab-bar {
  img {
    margin-right: 0.5rem;
    opacity: 0.5;
  }
}

app-changelog-list {
  display: block;
  overflow: auto;
}

app-simple-badge-list {
  min-height: 24px; // keep it's height when it's in skeleton mode
}
