<div class="header-bar">
  <div class="titles">
    <h2 [tuiSkeleton]="isPackageLoading && 5">{{parsedPackage?.metadata.identifier.name}}</h2>
    <app-simple-badge-list [tuiSkeleton]="isPackageLoading && 12" [badges]="badges"></app-simple-badge-list>
  </div>
</div>
<div class="tab-bar">
  <tui-tabs [(activeItemIndex)]="activeTabIndex">
    <button *ngFor="let tab of tabs; let i = index"
            tuiTab
            (click)="setActiveTab(i)"
    >
      <img [src]="tab.icon">
      {{tab.label}}
    </button>
  </tui-tabs>
</div>
<app-schema-member-type-explorer
  *ngIf="activeTabIndex == 0"
  [editable]="false"
  [partialSchema$]="partialSchema$"
  [schema]="schema"
  [allowTryItOut]="true"
  [readme]="parsedPackage?.readme?.content"
  [isReadmeLoading]="isPackageLoading"
></app-schema-member-type-explorer>
<app-changelog-list *ngIf="activeTabIndex == 1" [changeLogEntries]="changelogEntries | async"></app-changelog-list>
<app-code-viewer
  *ngIf="activeTabIndex == 2 && parsedPackage?.sources?.length>0"
  [useRouter]="true"
  [sources]="sources"
  [showCompilationProblemsPanel]="true"
  sidebarMode="Visible"
></app-code-viewer>
<app-project-settings *ngIf="activeTabIndex === 3" [packageDescription]="packageDescription"></app-project-settings>
