@import "src/common";
@import "src/tables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep app-header-component-layout {
    .body-container {
      min-height: 0;
      overflow: auto;
    }
  }
}

app-header-component-layout {
  height: 100%;
}

.policy-list {
  @include orbital-table();
  @include orbital-table-with-selectable-rows();
}

.policy-icon {
  opacity: 0.1;

  &.has-policy {
    opacity: 1;
  }
}

app-filename-display {
  border: none;
}
