<app-header-component-layout [title]="mode === 'create' ? 'Add new connection' : 'Edit connection'">

  <div class="form-container">
    <!-- has to be outside of the formGroup for the ngModel binding to work -->
    <app-project-selector
      prompt="Select a project to save the connection to"
      [packages]="packages$ | async"
      [(ngModel)]="selectedPackage"
      [disabled]="mode !== 'create'"
      class="tui-form-field"
    ></app-project-selector>
    <form class="form-body" [formGroup]="connectionDetails" *ngIf="connectionDetails">

      <div class="tui-form-field">
        <tui-input [required]="true" formControlName="connectionName">Connection name</tui-input>
        <tui-error formControlName="connectionName"  [error]="[] | tuiFieldError | async"></tui-error>
      </div>
      <div class="tui-form-field">
        <tui-combo-box
          formControlName="jdbcDriver"
          [stringify]="stringifyJdbcDriver"
          [(ngModel)]="selectedDriver"
          (ngModelChange)="setDriver()">
          Connection type
          <tui-data-list-wrapper *tuiDataList
                                 [items]="drivers | tuiFilterByInput"
                                 [itemContent]="stringifyJdbcDriver | tuiStringifyContent">
          </tui-data-list-wrapper>
        </tui-combo-box>
        <tui-error formControlName="jdbcDriver"  [error]="[] | tuiFieldError | async"></tui-error>
      </div>
    </form>
    <form [formGroup]="connectionDetails">
      <app-dynamic-form-component *ngFor="let formElement of formElements" [form]="driverParameters"
                                  [spec]="formElement"></app-dynamic-form-component>
    </form>


    <div class="form-buttons">
      <button tuiButton appearance="outline-grayscale" size="m" (click)="doTestConnection()" [disabled]="!isValid">Test connection
      </button>
      <div class="spacer"></div>
      <button tuiButton appearance="primary" size="m" [disabled]="!isValid" (click)="createConnection()">Create</button>
    </div>
  </div>
  <progress tuiProgressBar size="s" *ngIf="working"></progress>
  <div class="test-result-box error-message" *ngIf="!working && hasTestFailure">{{ testResult.message }}</div>
  <div class="test-result-box success-message" *ngIf="!working && testSuccessful">Connection tested successfully</div>
</app-header-component-layout>
