:host {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

app-panel {
  width: 100%;
  height: 100%;
}

.editor-container {
  flex-grow: 1;
}

.spacer {
  flex-grow: 1;
}

.empty-state {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .onboarding-text {
    width: 420px;
  }
}
