@import "src/common";


.running-timer {
  color: $success-dark;
  font-size: 0.9rem;
  display: flex;
  align-items: center;

  &.has-separator:after {
    content: "";
    height: 1.5rem;
    margin: 0 0 0 0.5rem;
    border: 1px solid $gray-300;
  }

  .loader {
    width: 1rem;
    height: 1rem;
    border: 2px solid $success-dark;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: 0.5rem;
  }

  img {
    width: 24px;
    margin-right: 0.5rem;
    animation-timing-function: ease-in-out;
    animation-name: loading-spinner;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    display: inline-block;
  }

  .record-count {
    color: $gray-500;
    margin-left: 0.25rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
