@import "src/common";

:host {
  display: flex;
  flex-direction: column;
}

.header-container {
  // LR padding is to prevent rubbing up the side of smaller containers
  padding: 2rem 2rem 0;
  background-color: $slate-100;
  border-bottom: 1px solid $slate-300;
  display: flex;

  &.pad-bottom {
    padding-bottom: 2rem;
  }

  .back-link {
    width: 24px;
    height: 24px;
    margin-left: -2.25rem;
    padding: 0.16rem 1rem 0 0;

    &:hover {
      opacity: 0.8;
    }
  }

  .header {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    .icon {
      margin-right: 2rem;
      width: 2rem;
    }
    h2 {
      margin-top: 0;
    }

    .spacer {
      flex-grow: 1;
    }

    .buttons {
      flex-shrink: 0;
      margin-left: 2rem;
    }

    .row {
      display: flex;
    }
  }
}

.body-container {
  background-color: $body-bg;
  flex-grow: 1;
  display: flex;

  .body {
    &.full-width {
      max-width: unset;
      width: -webkit-fill-available;
      width: -moz-fill-available;
    }

    flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    // LR padding is to prevent rubbing up the side of smaller containers
    padding: 2rem;

    // Added because the schema importer was compacting
    // Test a db import flow if changing this.
    // Note: Scrollbars still don't feel consistent across the app,
    // but deferring that for now.
    display: flex;
    flex-direction: column;

    width: -webkit-fill-available;
    width: -moz-fill-available;
  }
}
