@import "src/common";

.search-item {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
}

::ng-deep {
  .type-name {
    margin-bottom: 3px;

    .matchedText {
      border-bottom: 2px solid $vyne-primary;
      font-weight: bold;
      color: darken($body, 30%);
    }
  }

  .badge {
    @extend %type-badge;
    font-size: 0.7rem;
  }

  .type-doc {
    font-size: 0.9rem;
    color: lighten($body, 5%);

    > p {
      margin: 0.35rem 0.35rem -0.5rem 0.35rem;
    }

    .matchedText {
      border-bottom: 2px solid $vyne-primary;
      font-weight: bold;
      color: darken($body, 30%);
    }
  }

  .fully-qualified-name {
    .matchedText {
      border-bottom: 2px solid $vyne-lilac;
      font-weight: bold;
    }
  }
}
