html, body {
   height: 100%;
   overflow: hidden;
   font-size: 16px;
}

body {
   margin: 0;
   font-family: nunito-sans, sans-serif;
}

h1, h2, h3, h4 {
   font-family: "DM Sans", sans-serif;
}

.container {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   height: 100%;
}

header {
   height: 110px;
   background-color: #0c1826;
}

header .logo {
   width: 180px;
   margin: 2rem 1rem 1rem 1rem;
}

section {
   flex: auto;
   text-align: center;
}

.home-button {
   display: inline-block;
   padding: 0.7rem 1.5rem;
   margin-top: 3rem;
   font-size: 1.1rem;
   color: white;
   background-color: #0284c7;
   border-radius: 8px;
   text-decoration: none;
   transition: background-color 150ms ease-in-out;
}

.home-button:hover {
   background-color: #0ea5e9;
}

@font-face {
   font-family: 'nunito-sans';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/NunitoSans-Regular.ttf") format('truetype');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/DMSans-Medium.ttf") format('truetype');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
