@import "src/common";
@import "src/tables";

.pipeline-list {
  @include vyne-table();
  width: 100%;
  margin: 1rem 0;

  td {
    padding: 1rem 0;
  }

  cursor: pointer;

  tr  {
    &:hover {
      background-color: rgba($dark-grey-2, 0.1);
    }
  }

}

.test-result-box {
  border: 1px solid rgba($bg-error, 0.6);
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba($bg-error, 0.1);
  color: $bg-error;
  font-size: 0.9rem;
}
.error-message {
  border-color: rgba($bg-error, 0.6);
  background-color: rgba($bg-error, 0.1);
  color: $bg-error;
}
