@import "src/common";

app-project-selector {
  margin-bottom: 1rem;
}

.selectors {
  display: grid;
  grid-auto-columns: 1fr 260px;
  grid-auto-flow: column;
  gap: 1rem;
}

.data-source-list {
  img {
    height: 24px;
    margin-right: 0.5rem;

    &.external-link {
      margin-left: 1rem;
      margin-top: -6px;
      width: 20px;
    }
  }
}

.island {
  margin-top: 1rem;

  .config-container {
    margin-top: 1rem;
  }
}

.config-container {
  margin-top: 2rem;
}

tui-select {
  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
