@import "../../../common";
@import "../../../voyager-app/styles.scss";
@import "../../../voyager-theme";

:host {
  display: flex;
  align-items: center;
  fill: white;
  color: white;

  padding: 0.5rem 1rem;

  // border-bottom: 1px solid;

  background-color: $slate-800;

  .logo {
    height: 32px;
    margin-right: 0.5rem;
  }
}

a.toolbar-link {
  &:link, &:visited, &:hover, &:active {
    color: white !important;
  }
}

.divider {
  border-left: 1px solid rgba($white, 0.2);
  height: 100%;
}

.nav-link {
  --tui-text-action: white;
  --tui-text-action-hover: white;
  margin-right: 10px;
}

.examples {
  margin-left: 3rem;
}

.spacer {
  flex-grow: 1;
}

tui-select {
  margin-left: 1rem;
  width: 20rem;
}

.title {
  font-family: $headings-font;
  margin-right: 5rem;

  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0 4px;
}

button.secondary {
  border: 1px solid $sky-500;
  background-color: white;

  &:hover {
    background-color: #dde6eb;
    cursor: pointer;
  }

  border-radius: 4px;
  font-size: 1rem;
  font-family: $headings-font;
  font-weight: 300;
  padding: 8px 16px;

}

mat-icon {
  fill: white;
  color: white;
}

.built-by-orbital {
  .wrapper {
    display: flex;
    align-items: center;
  }

  margin: 0;
  font-size: 1rem;

  mat-icon {
    width: unset;
    height: 40px;
    margin-top: -3px;
  }
}

.header-icon-button {
  display: flex;
  align-items: center;

  padding: 4px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: rgba(white, 0.2);
  }

  color: white;
}

.header-icon-button-with-text {
  mat-icon {
    margin-right: 0.5rem;
  }
}

.header-icon-spacer, .divider {
  margin-right: 1rem;
}

tui-hosted-dropdown {
  margin-right: 3rem;
}

button.dropdown-host {
  margin-right: 0.5rem;
  color: $whiteish;

  &:hover {
    color: $white;
  }

  .label {
    // add some space before the chevron
    margin-right: 0.25rem;
  }

  ::ng-deep {
    .t-wrapper {
      background-color: transparent;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: $slate-600;
      }
    }
  }
}

.examples-wrapper {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  gap: 2rem;

  h3 {
    font-weight: 400;
    font-size: 1rem;
    color: $sky-600;
  }

  .examples-list {
    line-height: 1.5;
  }

  .group {
    max-width: 225px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li:not(:last-child) {
      padding-bottom: 0.25rem;
    }

    a {
      display: block;
      text-decoration: none;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 8px;
      color: $slate-800;

      &.active {
        background-color: $slate-100;
        pointer-events: none;
      }

      &:hover:not(.active) {
        background-color: $slate-50;
        color: $slate-900;
      }
    }
  }

}

