@import "src/typography";

.type-name {
  margin-bottom: 1rem;

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    display: flex;
  }

  .badge {
    @extend %type-badge;
  }
}

.value-container {
  margin: 1rem 0;
}

.clear-icon {
  width: 16px;
}

.clear-button{
  position: absolute;
  right: 0;
  margin-right: 1em;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}
