:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

app-typed-instance-panel {
  display: block;
  margin: 0 1rem 1rem 1rem;
}

progress {
  position: absolute;
  top: 48px;
}
