@import "src/common";

:host {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.5rem;
}

.button-link {
  transition: opacity 150ms ease-in-out;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

img {
  width: 20px;
}

img.primary {
  width: unset;
}
