@import "src/common";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.code-editor {
  width: 100%;
  flex-grow: 1;
}

.spacer {
  flex-grow: 1;
}

app-panel-header {
  button {
    margin-left: 1rem;
  }
}

button {
  font-family: $headings-font;
  font-weight: 300;
  font-size: 0.9rem;
}

tui-notification {
  flex: auto;
  padding: 0.3rem !important;
}
