:host ::ng-deep {
  app-header-component-layout {
    .body {
      gap: 1rem;
    }
  }
}

.row {
  display: flex;
  gap: 1rem;
  > * {
    flex-grow: 1;
    align-self: stretch;
  }
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
  display: grid;
  align-items: stretch;
  gap: 10px;
  > * {
    // Allow children to shrink
    min-width: 0;
    height: 100%;
    max-height: 400px;
    ::ng-deep {
      app-card {
        height: 100%;
      }
    }
  }
}

section {
  margin-top: 1.5rem;
  h3 {
    margin: 0 0 0.5rem;
  }
}
