@import "src/common";

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--component-bg-color);
  border-bottom: 1px solid $slate-300;
  padding-top: 1rem;

  .help-link {
    position: absolute;
    top: 40px;
    right: 2rem;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 2rem 0 1rem 0;

  @media screen and (min-width: 80em) {
    max-width: 980px;
  }

  &.full-width {
    max-width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
  }
}

.stepper {
  padding: 1rem 0 2rem 0;

  button {
    color: $gray-800;

    &.disabled {
      color: $gray-600;
    }
  }
}

tui-notification {
  margin-bottom: 1rem;
}
