<div *ngIf="subscribed == false; then step1; else step2"></div>

<ng-template #step1>
    <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit(subscribeForm.value)">
        <h3>Want to hear from us about cool stuff?</h3>
        <tui-input tuiAutoFocus formControlName="email">
            Your email
        </tui-input>
        <p class="dialog-text">
            If you'd be so kind as to provide your email, we'll be able to communicate with you about this tool. You
            know, like when we release new features or very occasionally ask for some feedback on it which is super
            important for us.
            <br /><br />
            Anyway, blah blah legal stuff blah, if you're ok with this it kinda goes without saying clicking Subscribe
            below means you agree to us emailing you and processing your personal information (how else are we supposed
            to remember your email?).

           <label tuiLabel class="checkbox-label"> <input tuiCheckbox type="checkbox" formControlName="otherCommsCheckbox" size="s" class="tui-space_vertical-4">
                <span class="dialog-text">Check this to also hear about our other products, like Orbital, our automated
                    integration platform.</span>
            </label>

            Oh, and if you get sick of us, don't worry you'll be able to unsubscribe later.
        </p>
        <p>
            <button [disabled]="!subscribeForm.valid" tuiButton type="submit">
              Subscribe
            </button>
        </p>
    </form>
</ng-template>

<ng-template #step2>
    <div [ngSwitch]="subscriptionResult">
        <ng-container *ngSwitchCase="'SUCCESS'">
            <p>Thanks muchly! We'll be in touch soon...</p>
            <p>...but not too soon. It'll be just the right amount of time where we won't seem too keen, but you won't
                have
                forgotten about us.</p>
            <br />
            <button tuiButton (click)="closeDialog()">
                I'm done here
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="'ALREADY_SUBSCRIBED'">
            <p>Unless we're mistaken, it looks like you're already subscribed!</p>
            <button tuiButton (click)="closeDialog()">
                Ok
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="'FAILED'">
            <p>Well this is embarrassing, it looks like something's gone wrong.</p>
            <p>Please jump over to our Slack and we'll sort it out.</p>
            <br />
            <button tuiButton (click)="closeDialog()">
                Close
            </button>
        </ng-container>
    </div>
</ng-template>
