@import "src/common";
@import "src/as-split";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep {
    button.t-header {
      // Set the background in accordion headers
      background-color: $slate-100 !important;
    }

    tui-expand {

      // Components like the results panel where we need the panel to grow
      // to 100% of available space
      &.flex-expand {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .t-wrapper {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
      }
      transform: unset !important;
      .t-content {
        //padding: 0 !important;
      }
    }

    tui-accordion-item {
      height: 100%;
      .t-wrapper {
        button {
          background-color: $slate-100;
        }
      }
    }
  }
}

app-query-results-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-code-editor {
  height: 100%;
  flex-grow: 1;
}


@include thin-splitter();

.flex-split-area {
  display: flex;
  flex-direction: column;
}
.stubs-params-header {
  span {
    margin-right: 1rem;
  }
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;
  flex-direction: row-reverse; // right align the content
}

tui-accordion {
  height: 100%;
}

tui-badge[tuiAppearance][data-appearance='info']  {
  background: $sky-600;
  color: $slate-50;
  font-size: 0.9rem;
}

.bottom-split-area {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

tui-notification {
  border-bottom: 1px solid $slate-300;
  font-size: 0.9rem !important;
  border-radius: 0 !important;
}
