@import "src/common";

tui-combo-box {
  width: 100%;
}

.search-result-button-wrapper {
  flex-grow: 1;
}

tui-combo-box::ng-deep {
  // This removes the "dropdown" icon from the combobox, making it
  // look more like a normal input, even though it's a combo box
  .t-icon:not(.t-icon_left) {
    width: 0;
    display: none;
  }
}

:host {
  //background-color: rgba($purple-white,0.8);
  //border-radius: 4px;
  min-width: 30rem;
  flex: 0;
  //padding: 0.8rem;

  //display: flex;
  //align-items: center;
}

