@import "src/common";
@import "src/forms";

.validation-error {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.icon {
  width: 24px;
  margin-right: 0.5rem;
}

.tab-panel {
  margin-top: 1rem;
}

.form-container {
  margin-top: 1rem;
}

.form-row {
  margin-bottom: 2rem;
}

.row {
  display: flex;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.form-element > .row > button {
  margin-left: 1rem;
}

.horizontal-group {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;

  > div {
    flex: 1;
  }
}

.open-api-notification {
  margin: -1rem 0 1.5rem 0;
}

::ng-deep tui-hint {
  max-width: 460px !important;
}

tui-segmented {
  width: fit-content;
}
